%p Good People will match any need. It can be a companionship, it can be a temporary help to recover from a stroke or a hip fracture, or it can be taking care of terminally ill person. Our caregivers are attending patients with Alzheimer's disease, dementia, Parkinson's, multiple sclerosis, cerebral palsy, brain injuries, emphysema, cancer and other illnesses. We also work closely with Hospices.

%p Caregiver lives in the home of the care receiver and is ready to help 24 hours a day!

%p <strong>Caregiver's responsibilities consist of:</strong>

%ul
	%li <strong>Personal care</strong> - caregivers help with ambulation, transfers, repositioning, bathing, toileting, daily exercises, getting up at night, dressing, feeding, coordinating doctor, therapist and other appointments & providing escort (where car is available), administering/monitoring medications, oxygen, fluid regime, special diet, and other personal care related tasks ...
	%li <strong>House making</strong> - cooking, serving the meals, doing the dishes, laundry, dusting, vacuuming, mopping the floors, watering the plants, walking the dog or cleaning the cat litter, grocery shopping, paying the bills, and other daily chores around the house ...
	%li <strong>Companionship</strong> - chatting, personal shopping, assisting in telephone calls, eating meals together, playing cards, reading papers, watching movies, sorting mail, sending postcards, and other "little" pleasures add to care receiver's overall health and happiness. Mental and physical stimulation are essential for success of the placement.

%p Naturally, live-in caregivers become part of a family. They create safe and comfortable atmosphere filled with dignity and compassion.

%p Responsibilities and activities mentioned above are to illustrate what you can realistically expect. Every care receiver, however, is different and has individual needs and wants. <strong>The service is flexible</strong> and we will exact the level of help during our evaluation and assessment interview. And also, caregivers apply their common sense and feel for the situation.

%p Live-in caregivers need time off during the day to relax. They need at least half an hour in the morning and half an hour in the afternoon. Caregivers like to go for a walk, to gym, swimming or jogging. Good time for these breaks are care receiver's naps or visits. If the care receiver plans on having a longer visit, let the caregiver go to a library or to see a movie. With a regular time off and away from the job, your caregiver will be a much better provider of care.
