%strong Telephone
%p 800-608-8003
%strong Fax
%p 608-223-0073
%strong e-mail
%p= mail_to 'info@goodpeople.us'

%strong Madison Office
%p 
	Good People LLC
	%br
	1634 Kings Mill Way #202
	%br
	Madison WI 53718
	%br
	local tel: 608-223-0073
	%br
	email:
	=mail_to 'martin@goodpeople.us'

%strong Milwaukee Office
%p
	Good People LLC
	%br
	1029 N Jackson St #1209
	%br
	Milwaukee WI 53203
	%br
	local tel: 414-289-8373
	%br
	email:
	=mail_to 'raivi@goodpeople.us'