%strong Telephone
%p 800-608-8003
%strong e-mail
%p= mail_to 'info@goodpeople.us'

%strong La Crosse Office
%p
	Good People LLC
	%br
	W3737 Highland Dr
	%br
	La Crosse WI 54601
	%br
	local tel: 608-223-0073
	%br
	email:
	=mail_to 'martin@goodpeople.us'

%strong Madison Office
%p
	Good People LLC
	%br
	2409 White Oak Trail
	%br
	Oregon WI 53575
	%br
	local tel: 608-609-1620
	%br
	email:
	=mail_to 'justyna@goodpeople.us'

%strong Milwaukee Office
%p
	Good People LLC
	%br
	1029 N Jackson St #1209
	%br
	Milwaukee WI 53202
	%br
	local tel: 414-759-7482
	%br
	email:
	=mail_to 'raivi@goodpeople.us'
