%p Two types of expenses go into your total cost for a live-in care: one-time and continuous.

%p
  %strong 1. One-time payments:
  %br
  1.1 initial <strong>finder's fee</strong> in the amount of $650. It is paid to <em>Good People</em>.
  %br
  1.2 terminal <strong>severance pay</strong> in the amount of 14 days salary (8 days for assignments anticipated to be short-term). It is paid at the end of the assignment <em>to your caregiver</em> (only in rare circumstances it is paid to Good People, please #{ link_to 'contact us', contactus_path } for details).

%p
  %strong 2. Continuous payments:
  essentially, compensation of your caregiver, paid to your caregiver
  %br
  2.1 <strong>room</strong> - this part of total cost seldom represents an extra expense, but items such as recipient's property taxes or rent should be accounted for when comparing care solutions.
  %br
  2.2 <strong>board</strong> - common foods and fluids. Caregiver's diet may differ from the care recipients' diet; a grocery shopping budget for the caregiver's board expense is a frequent solution.
  %br
  2.3 <strong>salary</strong> - typically somewhere from $130 through $160 up to $200 per day, take home money. We will agree on a specific amount after our evaluation and assessment interview (see #{ link_to 'Procedure', :action => :procedure }). The salary depends upon the situation; care recepients' needs, preferences, location, and caregiver availability.

%p Caregivers are guaranteed two days off every other weekend. Some caregivers take full advantage of their time off, some stay on the job longer. Where family cannot fill-in during the caregiver's days off, <strong>additional cost</strong> to the care recipient <strong>may arise</strong> as it may be necessary to pay for <strong>substitute</strong>, often substantially costlier than the live-in caregiver.

-# %p #{ link_to 'Contact us', contactus_path } regarding our current prices.
