%p The cost to the care receiver has two parts:

%p <strong>1. one-time expense</strong> - <strong>finder's fee</strong> paid to Good People.

%p <strong>2. continual expenses</strong> - compensation to the caregiver. It consists of 1) <strong>room</strong> - which should be ready prior to caregiver's arrival, 2) <strong>board</strong> - common food and drinking water, and 3) <strong>daily pay</strong> - we will tell you exactly after the evaluation and assessment interview (see #{ link_to 'Procedure', :action => :procedure } page for explanation). The pay depends upon the situation, i.e. care receiver's needs, wants, and also location. 

%p Caregivers are guaranteed two days off every other weekend. Some of them will take full advantage of their days off, some will stay on the job longer. Where family cannot fill in on the caregiver's days off, <strong>additional cost</strong> to the care receiver <strong>may arise</strong>, as it may be necessary <strong>to substitute</strong> with services of third parties, usually costlier than the live-in caregiver.

%p #{ link_to 'Contact us', :action => :contactus } regarding our current prices.