.gridrow-index-pg
	%nav
		= link_to 'here to Learn More', intro_path, class:'btn-cta-learn-more',
			data: { controller: 'btn-cta-verb' }

.gridrow-index-pg
	.gp-contact-info-index-pg
		= link_to '1-800-608-8003', 'tel:18006088003', class:'a--gp-contact-info'
		= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class:'a--gp-contact-info'
