// 6 columns to prevent too early resizing
.column.small-6
	= link_to root_path do
		= render 'svg_gp_logo_complete', class_name: 'svg--gp-logo-desktop'
// <6 (to get <12 together), this will make the last column float to R
.column.small-4
	.gp-contact-info-header--desktop
		=link_to '1-800-608-8003', 'tel:18006088003', class:'a-gp-contact-info'
		=link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class:'a-gp-contact-info'
