#headerlogo
	=image_tag "GP Logo web1.gif", border:"0", usemap:"#Map", href:"#"
	%map{ name:"Map" }
		%area{ shape:"rect", coords:"4,4,298,150", href:map_ref }
#headerphone toll free <strong>1-800-608-8003</strong>
#headeremail= mail_to 'info@goodpeople.us'
