- btn_text = 'Learn More'

.row
	.columns.small-centered.small-7
		%nav
			= link_to btn_text, intro_path, class:'btn-cta-learn-more'

.row
	.columns.small-centered.small-12.medium-8
		%section.section-gp-contact-info--index-pg
			=link_to '1-800-608-8003', 'tel:18006088003', class:'a-gp-contact-info'
			=link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class:'a-gp-contact-info'
