%p We are glad you are visiting with us.

%p Good People offers a solution for individuals in need of 24-hour care - we are a referral agency selecting and placing live-in caregivers.

%p But our clients say we provide peace of mind.

%p The first placement is often a beginning to a long-term working relationship. We work hard to make that relationship a wonderful experience for everybody involved: the care recipients, their families, and the caregivers. Give us a call and ask for references.

%p Before you do, please, read more about us and the caregivers we place. If you believe we could have an answer to your home care situation,  call us or send us an e-mail. We will learn your needs and find the caregiver you are looking for.

.gp-signatures
	.gp-signature
		.signature-image.signature-mf
		%p.p-gp-signature Martin Fencl

	.gp-signature
		.signature-image.signature-jp
		%p.p-gp-signaure Justyna Palka

	.gp-signature
		.signature-image.signature-rk
		%p.p-gp-signaure Raivi Kisielis
