%p Our first step is an evaluation and assessment interview, which we will schedule at your convenience. There is no obligation and it is free of any charge. We want to know as much as possible, and we have many questions to ask about the care receiver's home care situation, needs, wants, personality, habits, routines, likes and dislikes.

%p The more we know, the better opportunity we have to make a good match.

%p After the evaluation and assessment interview we will tell you what the caregiver's pay will be (see #{ link_to 'Cost', :action => :cost } page for more information). If you wish to start using our resources, the care receiver pays one-time finder's fee to Good People. The payment of the fee is a signal for us to start working on the case.

%p We will ask for seven days (and more, depending upon the care receiver's location) to select a caregiver who will match the care receiver's individual needs and personality. Once the caregiver is chosen, we will set up a placement date and begin!

%p If the care receiver is going to be discharged from a hospital, rehabilitation center, nursing home or any other facility, we can help to synchronize the release and the placement with you and the third party's representative in charge. We work closely with <strong>case managers, discharge planners, social workers,</strong> or <strong>hospice workers,</strong> to make sure the transition is smooth.

%p Caregivers must have their own bedroom and are guaranteed every other weekend off for two days. This is essential to avoid caregiver's burn out. We encourage the family to share in the care during caregiver's days off. Substitutes, if necessary, are available (at the moment in the area of SE Wisconsin and NE Illinois only).

%p Caregivers are not Good People's employees. They work directly for the care receivers. Good People is a finder agency. To ensure that placement is the right match and a quality care is delivered, we stay in close contact with our clients and their families after each placement we make.

%p If a situation arises when a replacement is needed, you will simply let us know, and we will start looking for a new caregiver.

%p We want every assignment to be a success. Good word of mouth is our mighty ally. Thus, our communication is important. We strongly encourage our clients to call us with any concerns or questions. This way we can prevent serious complications, such as caregiver's burnout, from happening.
