%section.coronavirus-announcement
	%p
		We will accomodate your preference for remote evaluation and
		assesssment interview (via phone, FaceTime, Google Video Call, Skype,
		WhatsApp and other communication tools).
