%p Area serviced by Good People is limited to the United States.

%p The evaluation and assessment interview usually takes about 40 - 60 minutes.

- unless controller.action_name == 'print'
  .servicearea-map#servicearea-map
