%p We are thankful to family members and close friends of our care recipients who were so kind and shared their experience with our program and our caregivers. Please, call if you are seriously interested in employing our service and would like to contact some of our references yourself.

.testimonial
	.info
		%label Assignment location and dates:
		Sun Prairie, WI
		%br
		September 8, 2013 - present
		%br
	%p My father had an amputation of his right arm at the age of 88. After this he required 24 hr care. His first desire was to be able to stay at home on his farm which is over an hour from the closest family. Good People has been able to answer our needs admirably over the last 3 years with caring companionship, management of his household, and monitoring his medical condition. The care has been dedicated, trust worthy, and affordable. I highly recommend Good People for home care.
	%p.signed-by Steven Merry MD
	%p Named one of "Milwaukee's Best Doctors" in 2013, <a href='http://www.mmagazinemilwaukee.com/index.php?submenu=MilwaukeeResources&src=gendocs&ref=BestDocs2014List' target='magazinemilwaukee14'>2014</a> & <a href='http://www.mmagazinemilwaukee.com/index.php?submenu=MilwaukeeResources&src=gendocs&ref=BestDocs2015List' target='magazinemilwaukee15'>2015</a> </br> as published in Milwaukee Magazine.

.testimonial
	.info
		%label Assignment location and dates:
		Osseo, WI
		%br
		January 16, 2016 - January 28, 2016
		%br
	%p To Good People
	%p When my mother got sick and was put in the hospital and then to a nursing home a place she didn't want to be I looked for ways to get her home I knew I couldn't take care of her alone and she needed 24 hour care. I went to the Eau Claire county Aging and Disability resource center they gave me a small Booklet of health care Providers etc. there was only one that provided 24/7 care and I contacted them they made a appointment with me came up looked the house over then went to the nursing home and meet with my mother me and the head nurse and therapist. They said they could help us me and my mother we decided to go with them They told us they would have a health care provider with in 2 weeks or less they did with in a week The one they provided took very good care of my mother My mother told me that we could not have found a better one I highly recommend you contact <span class='underline'>Good People</span> if you have a loved one that wants to stay in their own home and needs care to contact them. They are very nice and caring people as far as I know I was the first in my county to use them They will work with you to find somebody that is compatible with your life style. As for me a very special Thanks goes to Martin Fencl of <span class='underline'>Good People</span> for find such a nice care giver in Terri for my mother it was as if god had sent her an angel
	%p 
		Osseo Wisconsin
		%br 
		Foster Area Eau Claire County 
	%p.signed-by Vernon Strauch

.testimonial
	.info
		%label Assignment location and dates:
		Whitewater, WI
		%br
		April 20, 2015 - January 18, 2016
		%br
	%p To whom it may concern,
	%p My father received extraordinary care from Good People, LLC, which enabled us to keep him in his home for 8 months.  His caregivers were energetic, compassionate and very professional.  They treated him with kindness at all times, and I never had to worry about his safety, or being alone in his home. Locating live-in caregivers is stressful, but each caregiver that came to be with Dad was exceptional, and I'm grateful that we found this agency.
	%p.signed-by Elizabeth Wakefield

.testimonial
	.info
		%label Assignment location and dates:
		Janesville, WI
		%br
		March 12 - December 16, 2015
		%br
	%p In April 2015 my mother Lorrine Hilton got really sick and was unable to stay alone and we were considering a nursing home.  She was really angry with us because the doctors stated she was able to come home because that was her decision.  I was unable to stay with her because I have medical issues as well so when we heard about Good People it was like a blessing.  I met with Martin and he explained the services the provided and he stated he would try to find someone for us as soon as possible.  He is a man of his word someone came just a day after she was released from the hospital.
	%p Teri was an angel she did everything mom asked of her and more and never complained.  My mother could be difficult at times and was not used to sharing her home with anyone for a very long time.  I would recommend Good People and Teri to anyone who is in search of someone to care for their loved ones because you can't find anyone better.
	%p.signed-by Sue Nanstad

.testimonial
	.info
		%label Assignment location and dates:
		Stoughton, WI
		%br
		March 10, 2014 - December 14, 2015
		%br
	%p I heard about Good People from a friend and it sounded too good to be true! I hoped that it would be a good fit for my aging parents who wanted to stay in their home, and, more importantly, stay together.
	%p We had 3 caregivers over 1 3/4 years, each of whom were wonderful, caring, conscientious, and trustworthy. We employed the first lady for 9 months, the second for 12 months, and the third for 2 months until my father passed away. I found each of these ladies eager to learn and take on the responsibility of caring for both my mother and my father. My mother declined and  passed away one year before my father, but with each change in circumstance, our caregiver was adaptable, learned what needed to be done to meet my parents' increasing needs, and cared for them as if they were their own parents.
	%p Each one cooked and cleaned, administered medications from a filled pill box, and as my mother's needs increased, helped her eat, walk, dress, get into bed, until she passed away. Then did the same with my father as his physical abilities decreased. My caregiver accompanied us to medical appointments, gave me regular updates, and sometimes shopped for groceries and household supplies when she was out of the house. And, yes, they do work 12 days in a row, with two days off, with a 2 hour break every other day. That was our set up.
	%p Each of my caregivers had approximately 10 years of experience caring for elderly people, which was very helpful, as they had already experienced some of the situations that my parents were facing, and provided knowledge and wisdom that were very helpful and reassuring to me.
	%p I am so grateful to each of my caregivers, they were like sisters to me. They enabled my parents to have the best life possible together, in their final years. I am so grateful they were able to stay in their own home, with their own surroundings. It would not have been possible without GoodPeople.
	%p I know the cost per day sounds expensive at first, but it is much cheaper than assisted living or a nursing home, and so much better.  I did hire a payroll accountant to help with taxes and withholding appropriate amounts, because the caregiver was my employee, not GoodPeople's employee, and I wanted to things right for my caregiver.  The accountant was very helpful, as that part was too much for me to learn, in addition to helping my parents and my other responsibilities.
	%p Through all of this, I was still very involved with my parents, seeing them almost every day. Having a live-in caregiver for them, however, allowed me to be a daughter to my parents, and also to continue to take care of my husband and four children.
	%p At the beginning, GoodPeople sounded too good to be true. But, for me and my family, it was all true, and all good.  There are many good people in this world. Martin has a way of finding the ones who want to work to help people in need. Thank you. Thank you. Thank you.

.testimonial
	.info
		%label Assignment location and dates:
		Waukesha, WI
		%br
		October 2013 - Present
		%br
	%p Martin,
	%p I want to thank you for all GoodPeople did for my Dad and Mom so they could stay in their home which is where they really want to be.  To have one person to care for 2 people versus a nursing home or assisted living where the ratio is normally 10 or 12 to one caregiver – you can’t imagine how happy this made our family.
	%p In June 2013, my mother was hospitalized for a week for pneumonia, among other issues.  The social worker at the hospital gave me excellent references for GoodPeople as a place to find a live in caregiver.
	%p You came to my parent’s home and assessed their needs. After a discussion with my parents, you were able to find and place the appropriate care-giver. Only because of Good People, my parents have been able to stay in her own home.
	%p I recommend GoodPeople to anyone looking for in home care for their loved ones. My parents can continue to be in their home.  Thank you for being a blessing to my parents  Keep up the good work!
	%p.signed-by Phyllis D.

.testimonial
	.info
		%label Assignment location and dates:
		Lake Mills, WI
		%br
		November 2 - December 28, 2014
		%br
	%p Happy New Year Martin and the Good People Program,
	%p When we needed fulltime care for my Aunt, Hospice Care recommended your program and we are so grateful for that and for your service. After several interviews, we found Good People to be financially reasonable, with qualified & experienced women, and expedient in meeting our dates and goals for my Aunt compared to our local nursing homes and other respite programs. Tonga immediately added components needed on my Aunt's breathing machine and fixed meals that were so healthy that my Aunt no longer needed insulin shots. Tonga put her own needs aside for several weeks while she got to know my Aunt, her routines and needs, and cooperated fully with the Hospice staff. While Tonga was visiting friends in Chicago during the Holidays, Inga was an excellent substitute competently handling my Aunt's final day and hours. We are thankful that there are agencies like yours to help families dealing with elderly relatives. We will recommend you Martin & Good People to our friends when they find themselves in a similar situation.
	%p.signed-by Blessings, Wendy Steve

.testimonial
	.info
		%label Assignment location and dates:
		Middleton, WI
		%br
		June 2010 - July 2014
		%br
	%p Hi Martin,
	%p This is a testimonial to you and Good People for the great service our family received in the care of my sister who suffered from Parkinson disease. This service kept her from institutional care which was our goal.
	%p We found Good People was always very responsive  and timely in meeting our care giver needs.
	%p Your company found us a wonderful live in care giver--our family considered her an angel. She was so kind, loving and helpful to my sister. This care giver certainly added a better quality of life for my sister.
	%p Good people was also helpful in finding a replacement care giver in allowing our regular care giver some time off.
	%p We enjoyed a great relationship with Good People and their services and our family would highly recommend them.
	%p.signed-by Regards, Jim Caldwell

.testimonial
	.info
		%label Assignment location and dates:
		Black River Falls, WI
		%br
		June 13 - June 28, 2014
		%br
	%p Our mother was hospitalized with end stage idiopathic pulmonary fibrosis in June. At that time we realized she would not be able to return to her home without a full time live in caregiver. Very few agencies are able to provide this service. I contacted "Good People" and Martin promptly returned my call. After several phone conversations and an extensive phone interview, Martin arranged to have  " Inga" at my mothers house within 4 days.
	%p Inga was the perfect match for our situation. She stepped right in and provided the care our mother needed from the first day. Inga was both personable and business like enough to do what needed to be done. Her knowledge of end of life issues and care was extensive. Inga made helpful suggestions and worked closely with hospice to provide the best supportive care.
	%p My mother, and my sisters and I were so grateful. Inga, in conjunction with Good People allowed our mother to pass at home. This would not have been possible without this service.
	%p Martin of Good People followed up after Inga's first day, first week and second week of service to make sure we were all a good match. Unfortunately, our mother passed 15 days after leaving the hospital. Martin always retuned our calls promptly and followed up right on schedule.
	%p We would highly recommend Good People and Inga
	%p.signed-by Mary L Wyss / Baraboo Wi

.testimonial
	.info
		%label Assignment location and dates:
		Lake Mills, WI
		%br
		May 6 - May 23, 2014
		%br
	%p When my mother’s brain tumor reached its final stages, we needed help for her, and Good People provided an amazing live-in caretaker who truly understood the steps Mom’s debilitating condition would take, and who was then able to proactively address each change, even as the changes came faster than most people would predict.  From the second “Alicia” came to Mom’s home, she inspired the trust and confidence of my mother and worked to keep Mom safe and content.  During our last meeting with the hospice nurse, the nurse complimented “Alicia” for her thoroughness and comprehensiveness, noting that she rarely meets a caretaker who has a list of needed supplies and equipment ready just hours after taking the job.  As Mom took her final breaths, “Alicia” was there to help tend to her, explaining each stage to us, her children, helping us in innumerable ways.  For that day alone I will always be grateful.
	%p When “Alicia” left directly following Mom’s death, we were amazed: the towels and sheets were all laundered and the medical supplies and paraphernalia were tucked away, further testimony to “Alicia’s” consummate professionalism.  I am further impressed with the professionalism of Good People in general.  The intake-interview was thorough, the match between the caretaker and my mother was well-thought out, and I received timely and consistent phone calls making sure that all was going well.
	%p I am forever grateful to Good People and to “Alicia.”  I recommend the service without hesitation.
	%p.signed-by Kris C. J.

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		January 21 - February 8, 2014
		%br
	%p Hi Raivi,
	%p I want to thank you so much for all GoodPeople did for my Dad to get him home where he really wanted to be.
	%p When I was looking for alternatives to nursing facility care for my Dad, I received references for GoodPeople from a home health social worker at a nearby hospital and from another company that does in home care. I was told that GoodPeople were so efficient, that they would be able to find a 24/7 in home caregiver very quickly. They were that efficient, and we had a caregiver within 5 days of inquiry. They performed the search and background checks and found us an excellent caregiver for Dad.
	%p I would recommend GoodPeople to anyone looking for in home care for their loved ones. My Dad was so happy to be home and he was extremely well cared for.  Thank you to Raivi and GoodPeople for all you did to make my Dad so happy at the end of his life. 
	%p.signed-by
		Sandy Sweeney
		%br
		Daughter of Harry Chamberlain

.testimonial
	.info
		%label Assignment location and dates:
		Canton, IL
		%br
		January 13 - April 4, 2014
		%br
	%p Thank you very much to Martin, from Good People, for finding a live-in caregiver for my brother-in-law, who is bed ridden and partially paralyzed. Good People were very thorough in questioning us about Tony’s needs, and extremely caring about who to place with him. We were not disappointed! Tony’s caregiver, Chuk, was such a blessing to us, and made bringing him home the right decision. On the occasion that Chuk needed to take time off, Good People had a great sub available for us on short notice, making sure to assign someone who could handle the hoyer lift. We were very pleased with everything Good People did to help us make the dream of bringing Tony home a reality.
	%p Sincerely,
	%p.signed-by
		Laura Franciskovich
		%br
		Illinois

.testimonial
	.info
		%label Assignment location and dates:
		Clinton, WI
		%br
		August - December 2013
		%br
	%p Our caregiver was a Godsend to our family. In July 2013, it became apparent that my father (85 years of age) should not drive any longer. He lived in the country and this news was devastating. We wanted to keep him at home. Both my brother and I knew that we had to have someone to in the house to assure that his comfort, daily routine and safety were the key focuses. For a previous major illness, Daddy lived with me for 6 months, two states away from his home. This time, we knew that he should stay in Clinton. I now live 2500 miles away. Dad was mentally sharp but his body was starting to fail him. We knew of "Good People" staff working in our small community. Telephone contacts, visits from the specialist and then the caregiver alleviated any concerns.
	%p The cost of "Good People" services and staff were cheaper than a small one bedroom apartment in an adult living residence with only light housekeeping, meals and a nurse for scheduled medications and major health issues.
	%p "Chuck" was a great companion and was more than a caregiver. One example is that they watched and discussed murder mysteries and police shows predicting solutions just like an old married couple. 
	%p Honestly, I could fill another page with kudos of all of our caregivers skills, kindness, hard work, and sincere compassion for Daddy at this stage of his life. "Chuck" demonstrated trustworthiness, and has an excellent work ethic. He maintained Daddy’s quality-of-life and dignity, until he passed in December 2013.
	%p.signed-by
		Barb Padbury
		%br
		Daughter

.testimonial
	.info
		%label Assignment location and dates:
		Janesville, WI
		%br
		April 10 - April 19, 2013
		%br
	%p I was in need of a caregiver on a short notice. I called Good People and they were able to get me a caregiver to move in the next day. My friend was near the end of her life. The caregiver was only with her for a very short period of time before she passed away but she was a great blessing to have help out. I am very thankful to Good People for the help that they were able to provide.
	%p Sincerely,
	%p.signed-by Anita Ball

.testimonial
	.info
		%label Assignment location and dates:
		Oconomowoc, WI
		%br
		March - October 2013
		%br
	%p My father was diagnosed with Alzheimer's when he was 63 years old. He did well on his own for several years until he had a small stroke and was hospitalized. After his stroke, the hospital was not going to let him out of the hospital unless he had full time care. I called several agencies and Martin at The Good People was the only agency that actually came to my dad's house to meet my dad and see what his needs were.
	%p Those with Alzheimer's can have great days and some very bad days. My father had many bad days at the beginning. Since my mom passed away years earlier, my dad was used to living on his own. When you take someone who is used to living on his own and add Alzheimer's to it, it can be very confusing and very scary to them.
	%p The first person Martin brought to care for my father did not work. My father kept thinking this person was trying to take over his house and my father was not going to get along with this person no matter how hard the caregiver tried. I called Martin and explained to him what was going on and this person was not going to work.
	%p We did this 3 more times until Martin found Bob. My father and Bob were the perfect match. Bob gave my father the independence my father still tried to keep but was always close by just in case he was needed. Bob became part of our family and not only did Bob love caring for my father but also loved playing with all my father's grand kids.
	%p Unfortunately my father passed away late last year. However, I am very grateful for the patience Martin showed my father and very grateful Martin brought Bob into our lives. My dad's wish was always to pass away at home and not in a nursing home. The Good People help me honor my father's wishes.
	%p.signed-by
		Katie Osborne
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Wausau, WI
		%br
		June 2012 - January 2014
		%br
	%p My wife has had dementia for about five years. At first I was able to hire a local agency who supplied a caregiver for eight hours a day. However, the dementia progressed and more than eighteen months ago it became necessary to have a caregiver in our home for twenty-four hours a day. Good People found us an incredibly wonderful, capable and caring person to live with us and care for my wife. Tunga is truly a marvelous person and she made it possible for my wife to be home this past year and a half. On occasion, Tunga needed to be away. Martin and Good People always found us substitute caregivers. They were all caring and capable. The need for a substitute occasionally arose suddenly and with short notice. Good People nevertheless was always up to the task of finding appropriate substitute caregivers. This allowed my wife’s care to continue smoothly without little, if any, disruption. I am truly grateful for their help and expertise.
	%p Dementia is a very difficult disease. I will always be grateful for the expertise and competence demonstrated by the caregivers located by Good People. They allowed us to keep my wife in her home.
	%p Sincerely,
	%p.signed-by Robert Kaupie

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		October 2011 - January 2013
		%br
	%p Over time, Good People provided three wonderful caregivers for our sister. All were hard-working, caring and conscientious. Their live-in service allowed our sister to stay in her own home. We are happy to recommend Good People as a reliable, responsive organization if you need help caring for a loved one.
	%p.signed-by
		Rita S. & Kathleen S.,
		%br
		sisters

.testimonial
	.info
		%label Assignment location and dates:
		Wind Lake, WI
		%br
		May 2011 - March 2013
		%br
	%p I would like to take this opportunity to highly recommend Good People if you're looking for a live-in caregiver for a loved one.
	%p My aunt was living by herself, but she became ill, and had to spend about 3 months in a nursing home.  We all realized that she would no longer be able to live by herself.  Good People was recommended by a family friend, and I called them.
	%p Martin came out to my aunt's house and assessed my aunt's needs. After a discussion with my aunt and me, he was able to place the appropriate care-giver.  The care-giver lived with my aunt for almost 3 years (until my aunt's death), and she became a part of the family. Martin had found the perfect match for my aunt!
	%p Only because of Good People, my aunt was able to stay in her own home.  If any one of my friends need a live-in caregiver, I would recommend Good People.  If any one of my family members need a live-in caregiver, I will call Martin at Good People myself.
	%p.signed-by 
		Sincerely,
		%br
		John P.

.testimonial
	.info
		%label Assignment location and dates:
		Clinton, WI
		%br
		December 2010 - October 2013
		%br
	%p After suffering a heart attack and the death of a spouse of 68 years, our mother needed a caregiver and a companion in order for her to return home after rehabilitation at a local nursing home.
	%p Good People was called and Raivi Kisielis was at the nursing home within 24 hours to do a very thorough and professional intake interview.  For the next 3 years Raivi and the Good People organization would provide support, concern, professional expertise and caring companions for our mother.  This made it possible for Mom to stay home until her recent death. 
	%p Mom was very active in her church and local community.  She loved to play cards, to get her hair done, and to go to the Senior Center.  Good People provided staff who could drive, speak understandable English, and who could engage with others in a cheerful and friendly manner, and who treated Mom with care and respect.
	%p Our family was always able to contact Good People if or when we had a question or concern....and best of all....Good People made it possible for us to honor Mom's wish that she be kept in her home until her death.
	%p Thank you,
	%p.signed-by
		Sincerely,
		%br
		Charlotte Heikkinen
		%br
		Clinton, WI

.testimonial
	.info
		%label Assignment location and dates:
		Minocqua, WI
		%br
		August 2010 - Present
		%br
	%p Three years ago my wife, who was driving a car anywhere she wanted to go, fell and broke her femur just below the hip. We had it fixed and put her into a rehab center. While there she started to slip into the early stages of dementia. To make a long story short, after many issues of low blood counts, blood clots, infections, we finally had all the surgical hardware removed. By then she had an infection in the bone and full blown alzheimer's. Before checking out of the hospital I asked the hospital if the knew where I could find a live in caregiver. She told me of a place in Madison called Good People. I contacted them and after about 100 questions Martin said he would see if he could find someone for me. A week later he called me with a candidate and we met in Madison for an interview. All went well and we departed. Another week later she said she wanted the job. I hired her but the only thing on my mind was, I'm going to have a stranger living in my house. I met her three days later and took her to my home. Two days later she was part of my family. On August 13th, 2013 she will be with us three years. Since then I know of two other caregivers Good People have placed up here, one of them on the same lake chain I live on and just as happy.
	%p Sincerely,
	%p.signed-by
		Jack W.
		%br
		Husband

.testimonial
	.info
		%label Assignment location and dates:
		Beaver Dam, WI
		%br
		August 2010 - August 2012
		%br
	%p What do you do when you live 1,500 miles away from your aging parents? That was the question my sister and I had to address when my father had a stroke at age 90. We spent a couple of years trying all the available alternatives – assisted living, nursing home care (as Dad’s situation got worse) – but nothing was truly satisfactory until we realized that the only way to provide our parents with the kind of care that they needed and deserved was to do so back in home they loved. Good People provided crucial support and assistance to us in that process. They understood what we were going through and what our parents needed. They do a wonderful job matching caregivers with families who need them, including the occasional need to make a change in a caregiver assignment. Because of their in-home caregivers, our parents were able to spend their final years in their own home and surrounded by people who loved them rather than in an impersonal institution.
	%p If I had it all to do over again, I would skip all of the institutional alternatives we tried and put a good in-home care plan in place when it became clear that some permanent form of assistance was going to be needed. Our experience taught us that although institutions may provide room and board, they never deliver real patient-focused care. This is true in spite some truly caring individuals who work in these organizations; it is a result of the fact that they are institutions and must therefore put the needs of the organization ahead of individual needs. In the six years that we managed our parents’ care prior to their deaths, I saw not a single exception to this principal.
	%p Another misconception that most people have regarding in-home care is that it is always the most expensive option available. While it is true that it can be more expensive than other alternatives – especially subsidized ones – in our case it turned out to be significantly less expensive to provide our parents with excellent in-home care than the institutional alternative had been. This was the case in spite of the fact that my father was very seriously incapacitated toward the end of his life and we needed the services of two caregivers rather than just one.
	%p We are both so very grateful that we found Good People and the loving caregivers they work with.
	%p.signed-by
		Jane Beule
		%br
		Daughter

.testimonial
	.info
		%label Assignment location and dates:
		Waukesha, WI
		%br
		September 2009 - Present
		%br
	%p Raivi Kisielis,
	%p I am sending this letter to express how grateful are family is to have found good help for my father and mother.
	%p My Dad ended up in the hospital in late September with a stroke. He was then transported to a nursing home where he was for 3 days and came down with pneumonia. Once again, he was taken by ambulance to the hospital. We new at this point there was no choice, except to have him come home, but I needed to get care for him and my mother.  I started to make several calls and came across "The Good People". I talked with Raivi who explained how there company works. He was so accommodating, that he met my mother & I at the hospital. We especially liked the idea of having one person as a caregiver. Many companies work in shifts of three, where different people would be coming and going.  We now have "Bob" who has been wonderful. He has become part of the family. I can't express how awesome he is in taking care of my parents. He is willing to help in any way he can. He bathes him, helps to feed him, administers medicines and shots, and works giving him exercises and physical therapy.  My father is a diabetic and incontinent, also has Alzheimer's, requiring alot of care. Bob sees to his every need. My mother is severely arthritic and in a wheelchair. Bob helps her with everyday chores including cooking and cleaning. They have a small poodle which Bob also takes care of-giving her baths and walking her. When Bob is gone every other week, we have another caregiver, Gan-Ochir, he is also excellent and thorough. He steps right in when Bob leaves and does all the same things. It is so nice to have the same people all the time, as my parents are 87 years old and it is hard for elderly to adjust to new people. I can not say enough about how happy we are knowing my parents are in good hands. The company lives up to it's name "The Good People".
	%p Sincerely,
	%p.signed-by
		Aimee Petrovsky,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		New Berlin, WI
		%br
		May 2009 - Present
		%br
	%p Last spring my father finished his rehab and I needed to get him back to his apartment. He needed 24 hour a day caregivers. I checked with a number of places and decided on Good People. I have been very pleased with their services and with the care they gave him. My father is very happy with the two caregivers that he has. The caregivers have been very kind and helpful. My father is much happier in his own apartment than he would be in a nursing home. Thanks to the Good People.
	%p.signed-by
		Pat Braun,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Plain, WI
		%br
		June 2009 - December 2012
		%br
	%p My mom has had caregivers arranged through GOOD PEOPLE for 3 years. She is 85 years old and needs assistance with dressing, personal needs, transporting, meal preparation, etc. The caregivers that we had were very able to take care of all of her needs. My mom lives in a very rural community and it was very difficult to find someone to live in with her, she started to fall and was not able to stay alone at night. Good People worked very closely with us and were able to provide us with someone within the week that we requested help. We worked with Martin Fencl and he was so helpful through the whole process.
	%p We have recommended the agency to many people, Good People has been very helpful through some difficult times.
	%p Sincerely,
	%p.signed-by
		Jan Sloan
		%br
		(daughter of Florence Schluter)

.testimonial
	.info
		%label Assignment location and dates:
		Brookfield, WI
		%br
		June 2008 - Present
		%br
	%p “My sisters and I are extremely happy with the caring, competent woman provided by Good People. We trust her completely with our 98-year-old mother, and she has become part of the family! The peace of mind and support we’ve been given during a stressful period has been invaluable. The response time when we’ve needed special help has been fast, and our problem solved quickly. I highly recommend Good People.”
	%p.signed-by
		Jake Ruby,
		%br
		son

.testimonial
	.info
		%label Assignment location and dates:
		Mazomanie, WI
		%br
		February 2008 - Present
		%br
	%p As my mothers health began to decline my family and I knew something had to be done, but weren't sure where to go from here.  We thought about assisted living or even a nursing home, but knew the best interest of my mom and for my dad was to stay in their own home.
	%p We researched many in home care agencies, and chosed Good People.  As you may know it is very hard decision to bring in a complete stranger into your parents home and feel you made the right decision. Good People was able to provide my mother with a very caring and loving caretaker.  All of our life's are very busy, working, our families, grandchildren, trying to juggle all of this taking care of elderly parents can be very hard.  Now with Good people, this makes life easier for all of us and we don't worry, knowing someone is there with them.
	%p.signed-by
		Shirley Haack,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		April 2007 - January 2013
		%br
	%p After my father died in January of 2007, we wanted to keep our mother in her own home, but she couldn't stay there alone. We found out about Good People through a friend who had used them also. We worked with Raivi who asked us what we were looking and talked with my mother about her needs. In a few days we were matched up with a woman who was perfect for my mom.
	%p My Mom had Parkinson, so providing medication at the appropriate time was important. and every woman we had was more than capable. Her care giver took care of cooking, shopping and cleaning. My mom was so happy to be able to stay in her own home until her recent passing. I never worried about my mom, each of the women we had became a part of our family and we still keep in touch.
	%p Good People was a godsend for us. If it weren't for their caring care givers my mother would had to go to assisted living where she wouldn't have gotten the great one on one care she did at home.
	%p.signed-by
		Deb Grambsch (daughter)
		%br
		Madison, WI

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		Nov 2007 - Present
		%br
	%p For 2 years, we have had an excellent caregiver arranged through GOOD PEOPLE. The young man easily adapted to the special needs of our 93 year-old father and has become an intregal part of our family support network.
	%p We have found the agency, GOOD PEOPLE, to be both reliable and responsive to our questions and needs.  They have consistently found competent caregiver substitutes whenever needed.  Moreover, they have responded promptly to our calls in a clear and professional manner.
	%p We have recommended this agency to many friends and acquaintances and will continue to do so in the future.
	%p.signed-by
		Barbara L.,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Mt. Horeb, WI
		%br
		October 2005 - November 2008
		%br
	%p Dear Raivi,
	%p I just wanted to thank you for the wonderful care and attention Good People gave my Mother during the last three years of her life.I never told you at our initial meeting to have her cared for, but she was always very uncomfortable with people in her home. You can imagine how tough it was for her with strangers.  With that said, I must tell you how much my Mother loved the Good People who took such great care of her. As you know, I was living out of state and not able to be with Mom as much as I would have liked to be.  I called Mom every day to visit with her over the phone and was also able to talk to her care giver.  I always had a great line of open communication with her care giver. When I was home checking on Mom, I  could see what great care she was getting. My cousin Mary and my friend Pat Flom also had nothing but praises to tell me in regards to what good care she was given.  Cousin Mary loved to visit with the Good People  as much as she did with Mom.  They would call me each week with an update and all were given an A+.
	%p We can't thank you enough Raivi for supplying us with such good care takers and for saving us a lot of money. If you ever have someone that needs a recommendation, feel free for them to contact me.  I know what they are going through and we were so blessed having you I would like to ensure them they are on the right track.
	%p Thanks again,
	%p.signed-by
		Bruce E. Greve,
		%br
		son

.testimonial
	.info
		%label Assignment location and dates:
		Green Bay, WI
		%br
		July 2005 - Present
		%br
	%p Our family was in a crisis situation, when we found Good People. After an extensive interview, a caregiver moved into my parent’s home within a few days. When our first caregiver left, someone new was in their home that same day. Our current caregiver has been with my parents for over three years and has become a member of our family. Because of the wonderful help we received from Good People, my parents have been able to stay in their own home for their last years. They are happy, well cared for and safe. Good People have been a blessing to our family.
	%p Sincerely,
	%p.signed-by
		Jill Proulx,
		%br
		daughter









