%p We are thankful to family members and close friends of our care recipients who were so kind and shared their experience with our program and our caregivers. Please, call if you are considering employing our service and would like to contact some of our clients yourself.

.testimonial
	%a{ id:4994 } &nbsp;
	.info
		%label Assignment location and dates:
		Valders, WI
		%br
		February 19, 2019 - April 10, 2019
		%br
	%p Dear Raivi,
	%p First off I would like to Thank You from the bottom of my heart, which unfortunately has been shattered these past weeks.  The Knier family is convinced that you and Our Savior, are totally responsible for sending us our "Guarding Angel", caregiver Al !!  We feel so blessed to have met you and that you placed Al with caring for our parents in their last days and weeks of  their lives here on earth with us.
	%p Al came into quite a situation of the very recent stage 4 cancer diagnosis with my dad, and with the request of wanting my very incapacitated mom from the nursing home to my parents home so they could be together during these last, which turned out to be days, together.  Al and my dad spent a week together before bringing my mom home to get familiar with each other and find out what care needs that my dad required. Al cared for my dad with such compassion and was so very alert to his care needs.  My dad had been quite independent, however with his recent shortness of breath and the need for oxygen around the clock, Al made sure of his safety to make sure that he did not trip with the tubing as they moved around the home. Al prepared meals, cleaned the home and cared for my dad in such an unselfish manner.
	%p My mom on the other hand was totally incapacitated.  She needed total care...hoyer lifting, bed bathing, incontinent-so needed to be changed, and repositioning her in her broda chair, bed or her lift chair.  Al made sure that she was safe at all times.  Al handled her with such great respect and dignity.  Al prepared meals for my mom as long as she was able to be fed.  Al prepared food for her so that she didn't have to chew seeing that this had become an issue.  Al was very alert to her care needs and went above and beyond to keep her comfortable.
	%p On a personal note...I am the daughter that lived the closest to my parents, two miles, I stopped by my parents home as often as I could.  When my mom was in the nursing home I would go and do her hair, I continued doing this when she was back home. Al and I were able to wash her hair, Al was so patient with me and my mom as that we could accomplish this as safe and as comfortable as possible.  Every time that I would come by the house Al had the home immaculate, just as though my mom would and had kept it for many years. Al is a hard working, compassionate man.  Al does his Care-giving with utmost respect and complete responsibility.
	%p Al..."Guardian Angel"
	%p THANK-YOU !!
	%p.signed-by Carol Hammel

.testimonial
	%a{ id:4671 } &nbsp;
	.info
		%label Assignment location and dates:
		Jefferson, WI
		%br
		January 16, 2018 - March 19, 2019
		%br
	%p Martin,
	%p I wanted to send you a note about the wonderful care and service we received from Good People. Luda, the caregiver you provided our family, was a delight. She provided excellent care and challenged mother's motivation throughout her care for her. They bonded, and Luda became a true friend to the family.
	%p The service you provided me the many times I called with questions was very helpful. Just the reassurance you provided helped me as we struggled through uncharted issues in our care for Mom. Thank you again for always being available as well as returning calls promptly when I missed you.
	%p God bless you and the ministry you provide.
	%p.signed-by Steve

.testimonial
	%a{ id:4823 } &nbsp;
	.info
		%label Assignment location and dates:
		South Milwaukee, WI
		%br
		July 20 - September 4, 2018
		%br
	%p When my mom’s health rapidly declined and she expressed a desire to be able to stay in her home, we needed to make some quick decisions on in-home care. I researched the traditional and heavily advertised providers of Milwaukee area in-home care. The quotes to provide my mom in-home care were high, but expected. On the suggestion of a social worker I contacted Good People, an alternative to traditional in-home care. My sisters and I met with Raivi and were able to interview an in-home care candidate within two days of my first contact. The cost of care that was provided thru Good People was considerably less than the quotes from the traditional in-home care providers (and we also liked that most of the fee we paid went directly to the actual person who provided the care, and not to the company.)
	%p AND I can’t say enough about Mimi, the person who cared for my mom. She came into my mom’s house and our family at a very difficult time, and the tenderness and loving care she provided gave comfort to my mom and made things much easier for my family.
	%p.signed-by John Gee, Franklin WI

.testimonial
	%a{ id:4406 } &nbsp;
	.info
		%label Assignment location and dates:
		Plain, WI
		%br
		December 1, 2016 - August 20, 2018
		%br
	%p Hello Martin,
	%p I would like to thank you for the great service you provided our family over the past couple of years regarding providing care givers to my father who has recently passed on.  As we all know, a live-in care giver arrangement is so much better than living in an alternative facility, because it allows the individual to remain in their home.  This was very very important to my father and he was able to do that until the age of 94.  We also appreciated the effort you made in providing a good match between the client and care giver.  Although we understand it is likely never perfect, ours were certainly acceptable.  They provided very good quality personal care, and we appreciated the attention to detail and willingness to provide a personal feeling to the relationship.  Knowing that substitutes are available from you when needed provided all of us with a good sense of security.
	%p Thanks again for your great service.
	%p.signed-by
		Regards,
		%br
		Tom

.testimonial
	%a{ id:4457 } &nbsp;
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		April 24, 2017 - September 7, 2018
		%br
	%p September 21, 2018
	%p To Whom It May Concern:
	%p We were very pleased to have Paul as the caregiver for our family and found working with Good People to be an excellent experience.
	%p Paul took on a big job working for my two parents, aged 90 and 91, for a year and a half. He was kind and big-hearted, always cheerful and thoughtful. He was very flexible with plans and with his living situation, having to live the winter months in Madison and moving with them up to the lake house for the summer.
	%p Paul is very patient and gentle - he knows how to listen and respond to those with dementia and coax them into the daily care they need such as showering, taking medication and getting to appointments on time. He was flexible in driving their car or using his own vehicle to transport them.
	%p He cooked meals and was very clean and tidy in the kitchen, which made my mother very happy. He also took on household chores like mowing the lawn when needed without complaint and with much enthusiasm. He likes to stay busy and be useful.
	%p Paul is also a good communicator and was readily available to connect with each of my four siblings and myself as needed, filling us in on daily happenings, or with concerns he had about my parents’ health or well-being. We texted almost daily and had many phone calls.
	%p We hired Paul not long after my father broke his hip and required more full-time care. He developed a bed sore in his recovery process and Paul was very helpful in changing bandages, cleaning the wound under direction of a nurse who came regularly to the home. With the help of Paul’s care, dad’s wound finally healed after more than six months of attention.
	%p I strongly recommend Good People. We started with a different Good People caregiver who didn’t quite match personality-wise with my parents; Justyna was quick to hear our concerns and find a replacement. Once the right match was made, we hardly ever needed to contact Good People as Paul was a responsible and responsive caregiver.
	%p I highly recommend Paul and Good People for full time elder care in one’s home.
	%p Sincerely,
	%p.signed-by
		Julie G.
		%br
		Los Angeles CA

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Lake Mills, WI
		%br
		December 18, 2017 - March 5, 2018
		%br
	%p Dad was in his 90’s, still in the home he had built 40 years before. He did not want to move to assisted living and wanted to stay in his home with his dog.
	%p After a time, it became clear he was going to need live-in assistance. I interviewed 3 agencies specializing in 24/7 live-in caregivers. Meeting Justyna of Good People made the decision easy. Justyna was the only one to spend some time with Dad to first get to know him as a person. And second to understand what his needs would be with a caregiver. Justyna is an easy going and down to earth person. I felt very comfortable discussing any and all issues with Justyna including the financial arrangements. The Good People contract was straightforward and not complicated to understand. As I recall it was one page. When is the last time you saw a contract for a significant issue such as caregiving that was completely handled in one page? In summary, Justyna and Good People made a difficult personal decision much more manageable.
	%p Over the course of Dad’s care, if I had any questions, Justyna was always available and ready to discuss an issue until it was resolved and I was satisfied. Sadly, Dad has passed on. However, I have no second thoughts about my decision to hire Good People. In fact, I would recommend Justyna and Good People to anyone looking for a 24/7 live-in caregiver.
	%p.signed-by Scott S.

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Fitchburg, WI
		%br
		October 14 - December 18, 2017
		%br
	%p Trying to find a way to keep my parents together while my Dad fought health issues was very difficult. There were no places that had exactly what we needed--nearly full care for my Dad and just a bit of support for my very independent Mom.
	%p I was concerned about the staff to resident ratio at the assisted living places, I worried how I'd get Mom to a facility to visit Dad, and I knew they would miss each other terribly. At first, I thought of in-home care as a "last resort," but after our experience with Good People, I recommend them as a "first choice" for others in our situation. I had to learn about using a payroll service in our case, but even that was not difficult, once I got it set up. I feel that we saved money and got better care with Good People.
	%p Justyna asked pointed questions about my folks' needs, and she is clearly very observant and perceptive about people. She made a terrific match by placing Odon with our family. He was capable, caring and always had my Dad's best interest in mind.
	%p.signed-by
		With gratitude,
		%br
		Sue MZ, Fitchburg, WI

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Verona, WI
		%br
		August 17, 2015 - May 3, 2017
		%br
	%p Martin,
	%p Thank you for the exceptional care provided by you and your people! Our parents eventually needed full time care. Luckily we heard of Good People from a friend. Your service, and the wonderful caregivers we had, allowed our parents to stay in their own home as long as possible. We would, and do, recommend Good People to anyone with caregiver needs.
	%p.signed-by Al

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Clinton, WI
		%br
		June 13 - September 30, 2017
		%br
	%p When I had to find help for a long time family friend, I did not know where to start. Good People was suggested to me and I made the call.  The best call I could have made!  Justyna came out to meet us, very nice and easy to talk with and best of all wanting to find the perfect fit for our situation.  She did!  The caregiver went above & beyond in the care & work he did for our friend.  For many reasons, I recommend Good People , like their name, they really did find us a good person!
	%p.signed-by
		Sue M
		%br
		Clinton WI
		%br
		Summer of 2017

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Eden, WI
		%br
		July 21, 2017 - present
		%br
	%p Hello Raivi!
	%p We just wanted to let you know how much we LOVE Maggie! She is a perfect fit for our mom and they have become good friends and a special "little sister" to the rest of us. She has learned many skills in regard to caring for someone who needs total care. Thank you so much for finding her for us. She seems to feel right at home now with all of us.
	%p.signed-by The Floyd family

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Port Washington, WI
		%br
		January 21, 2017 - present
		%br
	%p Good People did a fantastic job finding the perfect in home caregiver for my parents. Eddie has been a wonderful addition to the family, and he’s given my parents an incredible gift – the freedom to age in their own home. Thank you for that.
	%p.signed-by 	Cynthia L

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		September 30, 2015 - July 21, 2017
		%br
	%p I would highly recommend Good People to assist families with obtaining care for their family members. I worked with both Martin and Justyna beginning in 2015, and found them very easy to work with. They were knowledgable, pleasant, and eager to make a good match for my parents. Financially, it was less costly to have a live-in caregiver than to have my parents stay in assisted living or a nursing home, and my parents had tried those options, and didn't like them. They were so much happier being at home and having one person to take care of them, instead of being at a strange place with a few aids for 16 people. Also, the way Good People has their program set up, there is only a one time charge to find a good match for your family.
	%p At first, I had them find me a couple to take care of both my mom and my dad, and then after my mother died about a year later, I found that the arrangement was no longer working well. I had truly loved the care that had been given, but there must have been some burnout, as the care changed. I talked with Justyna and Martin over the period of about a month, and they gave me good advice about how I could make things better, and they also offered to intervene. We attempted to make the situation better, but unfortunately it did not get much better. At that point, I talked with Good People and they fully supported me in making a change, and they quickly found me a single caregiver to help take care of my father. He turned out to be a fantastic match, and is one of the kindest, most wonderful, gentle person I have ever met.
	%p All the caregivers that Good People sent, including the first set and subs, have been intelligent, kind, hardworking, and flexible. I felt very comfortable with the care, and free to be at work or even leave town without worrying about my parents. Most caregivers live with just their clients, but my parents lived in my home, so the caregivers did too. The people we worked with were all so great that living in the same house was not a problem, and actually helpful and enjoyable. Since I was around so much, I got a chance to observe very closely how things were going, and they always were fine. I am a nurse and have very high standards for how people should be cared for, and I was very happy with the care that was provided.
	%p This past year, my father had multiple serious health issues. His caregiver did an amazing job: he was a great physical caregiver, cook, nurse, companion, financial protector, and problem solver. He has become part of our family, and I will be forever grateful that he (and therefore Good People) made the last year of my father's life the best it could be, and helped the dying process go as smoothly as possible. I highly recommend Good People.
	%p.signed-by Claudia Haus 8/7/2017

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Verona, WI
		%br
		Aug, 2016 - Aug, 2017
		%br
	%p July 8, 2017
	%p To Whom It May Concern:
	%p My family contacted Good People when our father was a hospice patient  and required round the clock care at home. From the beginning, Justyna  from Good People was very professional, responsive to our concerns, and pleasant to work with. She did a very thorough assessment of our family’s needs prior to finding a caregiver for us, sensitively worked with us on a plan to introduce Eka to our parents,  and assisted us to establish the terms of Eka’s employment.
	%p Eka was very capable, compassionate and conscientious.  She quickly earned the confidence and gratitude of our parents, myself, and my 7 siblings. Eka worked closely with hospice to care for our father for 2 months until he died, while also helping our mother with daily living tasks and self care. It was a great comfort to all of us to have Eka continue to live with our mother after Dad died, to provide comfort and companionship throughout the long winter that followed.
	%p Eka took great care of our mother; expertly fixing her hair daily, and doing such a great job at it that mom didn’t want us to do it anymore – “Eka knows how I like it!” She took the time to find stylish outfits in an effort to always make sure that mom looked her best for company and outings. It was heartwarming to see the bond develop between them, and especially sweet when they each personally selected gifts to give each other on their respective birthdays!
	%p Eka became a trusted member of our very large family and it was a pleasure to include her in wedding celebrations, welcoming of new babies, birthdays, etc. We supported her in her plans to continue her studies, and although we are very excited that she will be attending graduate school this fall, we will miss her terribly. I have a feeling, though, that Eka will always be a part of our family, and we plan to keep in touch.
	%p Justyna was very supportive throughout the whole year-long process of our involvement with Good People. She was always available to answer questions or problem solve and was very honest, fair and flexible. I always knew that Good People was behind us and had our best interests and satisfaction in mind, and I  know that Justyna also provided the same support to Eka.
	%p Numerous times in the last year, friends and extended family members who have witnessed Eka’s care for our mother have asked how we were fortunate enough to have found such a wonderful caregiver. We always gladly steered them towards Good People, and will continue to do so in the future!
	%p With highest regards,
	%p.signed-by Betsy (Stuesser) Scallon

.testimonial
	%a{ id:4314 } &nbsp;
	.info
		%label Assignment location and dates:
		Racine, WI
		%br
		July 7, 2015 - May 19, 2017
		%br
	%p To Whom It May Concern:
	%p Two years ago (2015), our Dad needed a live in caregiver.  Raivi with Good People selected and placed Bobby to do that job.
	%p Obviously, there was apprehension when thinking that a stranger was coming to live in our Dad's home and care for him.  But, instantly it was clear to all of us that Bobby was an excellent fit to our Dad and we knew they would be a good team.  We were confident in Bobby's capabilities and we saw our Dad respond positively to his gentleness and compassion.  They went together everywhere, to the grocery store, for rides, and both of their favorites.....MacDonalds for ice cream cones.
	%p Even when there were some sleepless nights and lots of wash for Bobby,  his smile and humor was always  quick. His gentleness helped our Dad keep a positive attitude and a smile as well.
	%p Bobby kept the house immaculate, made nutritious and delicious meals on a budget, and also created a feast if anyone dropped over.  His food will be missed!  There are no words to describe the depth of gratitude and respect we have for Bobby's dedication, connection, and integrity to our entire family.
	%p Sadly, our Dad passed away and we feel his loss so deeply.  There is also a deep loss at having to say good bye to Bobby.
	%p Wherever Bobby goes and whomever he cares for will genuinely be blessed by his presence.
	%p.signed-by
		Gloria Chadek Friesema
		%br
		Tom Chadek
		%br
		Dawn Chadek Mortenson

.testimonial
	%a{ id:4314 } &nbsp;
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		September 18, 2016 - February 3, 2017
		%br
	%p My sister was an 51 year old ALS patient, when we reached the point where we could no longer care for her and meet all her needs, a friend recommended Good People.
	%p From the very first phone call I felt that we had found the right place.
	%p Justyna and Martin were so kind and supportive. I felt their compassion immediately. They showed that whatever they could do for us, it would be all about caring for my sister.
	%p From the moment we met Paul, who became her caregiver, there was a connection.
	%p Paul was absolutely wonderful. My sister needed a great deal of care each day, and Paul stepped right in and did everything.
	%p Paul showed my sister such compassion and care. He made sure her needs were met and that she was comfortable and well cared for.
	%p Paul always put my sister first, when I asked if there was anything he needed he always said he was fine and that all that mattered was my sister.
	%p When my sister started to decline and her care became even more involved, he proved once more how good he was at his job.
	%p When sister passed he was the anchor we all needed.
	%p Although Paul was only with my sister for four months, he made it possible for her to remain in her home, which was the one thing she wanted from the time she was first diagnosed.
	%p I cannot express enough gratitude and praise for Paul and the Good People organization.
	%p They helped my sister and our family through a very difficult time.
	%p With countless Thanks,
	%p.signed-by David Marita

.testimonial
	%a{ id:4141 } &nbsp;
	.info
		%label Assignment location and dates:
		Crivitz, WI
		%br
		December 28, 2015 - January 1, 2017
		%br
	%p April 3, 2017
	%p To Whom it may concern:
	%p I am sincerely grateful to Good People for the outstanding service that was provided to our family in the care of my father.  Justyna, made the perfect choice in Urszula as a caregiver for my father who was partially disabled after an accident.
	%p Prior to being referred to Good People, I felt quite hopeless about having an opportunity for getting my father back home, as he needed 24 hour care. After just one conversation with Justyna, I immediately felt confident that I could get my father back home and that he would be taken care of adequately. But more than that, the care that my father received was top notch.
	%p Throughout the whole process of being introduced to Good People and choosing a caregiver, Justyna was very thorough in here explanation of the various services that they could provide as well as the costs that would be incurred. While "Ula" stayed with my father, I felt very confident that the care he was receiving was impeccable. If we ever had a question regarding my fathers care, "Ula" would gladly discuss it with us and adjust to our preferences.
	%p My families experience with Good People has truly been a godsend! My father was able to return to his home and live under his own precepts. The costs associated with Good People and the services they provided our family were very moderate and affordable. Justyna was honest and straightforward in her assessment and subsequent placement of a caregiver for my father.  The care that "Ula" provided my father was compassionate and meaningful.
	%p I highly recommend Good People and its constituents as a viable option in providing the opportunity for a loved one to live at home. The caregiver services provided to my father through Good People were done with a high degree of integrity and trustworthiness. I am very grateful to have been referred to Good People and am equally thankful for the subsequent services that this company has provided my family.
	%p With Highest of Regards
	%p.signed-by Michael Brochtrup

.testimonial
	%a{ id:2799 } &nbsp;
	.info
		%label Assignment location and dates:
		Franklin, WI
		%br
		January 14, 2013 - present
		%br
	%p Dear Raivi and Good People,
	%p My mother-in-law has resided in Franklin, WI for the past 25 years. She moved there from Chicago with her husband; who sadly passed away 10 years ago. She managed to live alone for many years after his passing but about three years ago, it was clear she could not live alone and care for herself.
	%p We turned to Good People for help. It became clear that through their help and guidance, we could allow my mother-in-law to stay in her home. Staying in her home was extremely important to her.
	%p Good People worked closely with our family to assess her needs and wishes. They were able to place a qualified and compatible live-in caregiver in her home quickly and affordably. Over the past three years we have had two different live-in caregivers. Both have been very good and treated my mother-in-law like she was their own family. This gave great comfort to our family and we have always rested easy knowing that she was safe and cared for very well.
	%p I am very happy to recommend Good People to anyone who has a loved one in need of in-home care. Good People not only places qualified caregivers, they are there throughout the placement to make sure all goes well.
	%p.signed-by
		Ralph S.
		%br
		Chicago, IL

.testimonial
	%a
	.info
		%label Assignment location and dates:
		Menomonee Falls, WI
		%br
		February 12 - 24, 2017
		%br
	%p Dear Raivi and Good People,
	%p We wanted to thank you for the wonderful care and service you provided to our family.  Our dad was put on hospice but it soon became clear that he needed more full time care than we could provide.  He wanted to spend his final days in his own home if at all possible.  Hospice referred us to Good People and Raivi was at Dad’s apartment to meet with us and assess our needs the same day.  He took time to explain and answer our questions and put us at ease with the whole caregiver process.  Within a day he found us the wonderful Galina.
	%p We were not sure how Dad would take to having a stranger in his home but Dad and Galina hit it off immediately and seemed to enjoy each other’s company.  Galina was a conscientious and compassionate caregiver and worked hand in hand with hospice as Dad’s needs changed.  She became like part of our family and a trusted part of Dad’s end of life care and wellbeing.
	%p Thank you again for your help during this difficult time and providing comfort not only to Dad but to our whole family.
	%p.signed-by Lynn Randar-Wenzel and Joan Saigh

.testimonial
	%a{ id:2640 } &nbsp;
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		July 27, 2009 - January 31, 2017
		%br
	%p Dear Martin,
	%p This is to inform you of my gratitude for the placement services of caregivers you have rendered to our family over the years.
	%p We found you and your organization extremely responsive to our needs, most helpful, thoughtful and discriminating.
	%p You conducted an excellent initial interview which resulted in your knowing what we needed and hence provided the comfort of a carefully chosen staff, saving us the disruption that changing staff members tends to create.
	%p You listen and act in a very timely manner to changing patients' needs.
	%p I have nothing but good regard for your services and wish you continued success.
	%p Sincerely yours,
	%p.signed-by Judith H. Heilizer

.testimonial
	%a{ id:3517 } &nbsp;
	.info
		%label Assignment location and dates:
		Racine, WI
		%br
		March 6, 2013 – January 30, 2015
		%br
	%p Dear Martin,
	%p I wanted to take the time to thank you and everyone at Good People for your service to my family.  Good People made sure that my father’s care was accomplished at his home which was his desire.  With my father, quality of life was as important as medical care for his well being.  When we first met our caregiver, Choi, I was concerned that Rex would find that this change in his independent lifestyle intolerable.  Quite to the contrary, my father found Choi to be an excellent, compassionate caregiver.  In a short amount of time, they became quite comfortable with each other.  This allowed him to be treated by the doctors of his choice and continue his regular routines, such as a weekly luncheon with his friends.  I firmly believe this additional quality of life was critical for his overall well being.  Being treated at home in familiar surroundings and visited by local friends who would not have been able to travel great distances also helped with his quality of life.
	%p That brings me back to the Good People.  Our caregiver had regular time off and scheduled vacations.  This is where we relied on you Martin, to schedule temporary caregivers to help make sure that our primary caregiver could receive the time that he needed to maintain such a high level of care.  The communications between you and I were regular and we never had problems with scheduling the temporary caregivers.  Although my father was more comfortable with male caregivers, you never failed to find someone when our primary caregiver was off.
	%p I am very happy to give a strong recommendation to anyone considering the services of Good People. Your services helped my father to be as comfortable as he could be at a time he needed it the most!
	%p Respectfully,
	%p.signed-by Kevin Capwell

.testimonial
	%a{ id:3523 } &nbsp;
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		September 26 - November 21, 2014
		%br
	%p Dear Justyna,
	%p In the fall of 2014 I got in touch with Good People to help find a live-in caregiver for my husband.  He had become increasingly weak and unable to do any of the activities of daily living on his own.  I had reached well beyond the limit of managing his care myself, even with more than 20 hours a week of hourly helpers.
	%p From the first phone call until the last day, Good People was true to its name.  Every conversation I had with Martin and with you was honest and caring.  My caregiver was capable and kind, and I always felt that if things did not work out, Good People "had my back."
	%p I am happy to give an unqualified recommendation to anyone considering the services of Good People.  You provide a much needed service to our communities.
	%p.signed-by
		Thank-you,
		%br
		Jane Camerini

.testimonial
	%a{ id:4400 } &nbsp;
	.info
		%label Assignment location and dates:
		Antigo, WI
		%br
		October 27 - November 7, 2016
		%br
	%p We found Tom through Good People.  Raivi was easy to work with and thought Tom would be great for our family - he was right! Tom was the best caregiver a person could ask for.  He took care of my father while in hospice and my dad loved him immediately.  Tom would anticipate his needs, massage him, and always knew just what my dad needed to make him feel comfortable.  We liked Tom so much that we asked him to be a pallbearer at my dad's funeral and he happily agreed.  Tom was like a member of our own family.  He truly is the best!!
	%p.signed-by
		Sarah Skinner
		%br
		Daughter

.testimonial
	.info
		%label Assignment location and dates:
		Jefferson, WI
		%br
		July 4 - July 27, 2016
		%br
	%p Tom came to take care if my dad on July 4th till July 26, 2016 until my dad passed. Tom wasn't with us for real long but long enough for us to get to know him very well. He was just an excellent caregiver for my dad, very kind and very hard worker making sure my dad was taken care of well. Hospice was involved and they showed Tom things that he needed to do and know, Tom knew right away what they were talking about. He bathed Dad and made sure Dad had his medicines at the right times and cooked for him. At the final days for my dad Tom did an excellent job making sure dad was turned every 2 hours and took his pain medicines every 3 hours and made sure his depends were always dry. My dad suffered 2 strokes. My daughter lived with my dad, and Tom and her hit it off real well together. Tom fit in good with my whole family. Here is something I would like to share. One of my family and I were going out for dinner and my dad was unsure if he wanted to go, so he went and asked Tom if he was going to go and Tom said no he didn't think so. My dad said, well, if Tom is not going I am not going. I thought that was cute. My dad really took to Tom. And that made me very happy. I just can not say enough about Tom good things he is just a excellent caregiver, I was not sorry I choose him to care for dad. Who ever Tom works for next will be very lucky to get him, and you will not be sorry that you hired him to care for your loved one. Everyone in my family really thought he did a great job with my dad. Feel free to contact me at [number available upon request] cell phone or home phone [number available upon request]. Thank You Good People for having a great person to care for people.
	%p.signed-by Karen Jeske

.testimonial
	%a{ id:3579 } &nbsp;
	.info
		%label Assignment location and dates:
		Spring Green, WI
		%br
		May 28 - December 31, 2015
		%br
	%p Good People helped my mother find live in caretakers on two occasions. My mother was in a nursing home at the time that we arranged care with Good People. She was so much happier and her health improved because she was able to return to living in her own apartment with the help of her caretakers. Both times I was very pleased with the caretakers that were provided. They were very kind to my mother and worked very hard to meet her needs. Justyna was a pleasure to work with and always available for questions or concerns. My mother has been able to return to independent living now, but it is comfort to know that the services of good people are there if we ever need them again.
	%p.signed-by Gretchen Spicer CPM LM

.testimonial
	%a{ id:4036 } &nbsp;
	.info
		%label Assignment location and dates:
		Poynette, WI
		%br
		June 19 - August 21, 2015
		%br
	%p April 7, 2016
	%p To Whom It May Concern:
	%p It is with great pleasure that I am writing to share the wonderful opportunity that our family benefitted from through GOOD PEOPLE.
	%p My dear father-in-law, who wanted to live much longer because he absolutely loved life, at age 92 breezed through a heart-valve replacement.  Complications set in when he contracted pneumonia and then had fluids build up in his body.
	%p While hospitalized with the pneumonia, an aggressive attempt to remove the fluids damaged his kidneys and liver, and he was transferred to a nursing home for rehabilitation.
	%p After about ten days we had a family meeting that recommended that we prepare for a different placement, as he was not improving.  The suggestion was palliative care.  All Dad wanted to do was GO HOME!
	%p I asked him how he thought we could do that, as by now he needed help around the clock.  Miraculously the social worker brought to our attention a brochure about GOOD PEOPLE.  It seemed to be the answer to our prayers.
	%p My husband and I presented the idea to my mother-in-law.  She said, “It might be kind of interesting, like having an AFS student, to learn about a different country and culture.”  We knew that all of the children were on board with the idea, and her positive response to having a total stranger from a different country move in with them to care for Dad gave me permission to immediately call the representative listed on the brochure.
	%p A couple days later she came to the farm to do an assessment interview, and we immediately got to work preparing a place for the caregiver to stay.  Six days later we moved Dad home.
	%p Unfortunately, he was only with us for six more days before he passed away.  But we were blessed with an AMAZING care-giver. Our young man never left Dad’s side.  He made sure he was comfortable, frequently changed his dressings on his oozing legs, and even took him for long walks, pushing Dad in his wheelchair  up and down the country road that runs past the farm everyday so he could get outside and see the land that he loved.
	%p Dad’s passing left Mom, age 93, now home alone.  We decided to ask Dad’s caregiver to continue on with Mom until we could make some transitions for her.  So he ended up staying with her for two months.
	%p During that time, although she required little care but more companionship, she and her caregiver became close friends, and we basically adopted him into our family.  His presence gave all of the children peace of mind that Mom was okay.  We did not have to worry about her safety, her food preparation, her shopping or anything.  We had the pleasure of trying out new recipes that our caregiver cooked.  We had the fun of teaching him how to play cards.  He was always welcome in our midst and when Mom had friends come to visit.
	%p Since then Mom has moved to an assisted living facility.  Her caregiver has assumed another position, thankfully within 30 miles of us.
	%p His proximity allows us to stay in touch.  He has come to visit Mom, who he considers to be the grandmother he never had. He was able to be with our family at Thanksgiving, and just recently spent Easter Sunday with us.
	%p I cannot tell you how blessed our family has been by the services and the staff of GOOD PEOPLE.  I would recommend it to anyone considering keeping their loved one at home.
	%ul
		%li Your loved one will get quality care and companionship.
		%li With the caregiver assuming full responsibility every 12 out of 14 days, it allows family members to maintain their life’s routines without much interruption.
		%li The cost is much more affordable that having a loved one in a nursing home.
		%li The best deal of all is that your loved one can BE AT HOME!
	%p.signed-by
		Sincerely,
		%br
		Geraldine A. Gorman

.testimonial
	%a{ id:3695 } &nbsp;
	.info
		%label Assignment location and dates:
		Sun Prairie, WI
		%br
		September 8, 2013 - present
		%br
	%p My father had an amputation of his right arm at the age of 88. After this he required 24 hr care. His first desire was to be able to stay at home on his farm which is over an hour from the closest family. Good People has been able to answer our needs admirably over the last 3 years with caring companionship, management of his household, and monitoring his medical condition. The care has been dedicated, trust worthy, and affordable. I highly recommend Good People for home care.
	%p.signed-by Steven Merry MD
	%p Named one of "Milwaukee's Best Doctors" in 2013, <a href='http://www.mmagazinemilwaukee.com/index.php?submenu=MilwaukeeResources&src=gendocs&ref=BestDocs2014List' target='magazinemilwaukee14'>2014</a> & <a href='http://www.mmagazinemilwaukee.com/index.php?submenu=MilwaukeeResources&src=gendocs&ref=BestDocs2015List' target='magazinemilwaukee15'>2015</a> </br> as published in Milwaukee Magazine.

.testimonial
	%a{ id:4135 } &nbsp;
	.info
		%label Assignment location and dates:
		Osseo, WI
		%br
		January 16, 2016 - January 28, 2016
		%br
	%p To Good People
	%p When my mother got sick and was put in the hospital and then to a nursing home a place she didn't want to be I looked for ways to get her home I knew I couldn't take care of her alone and she needed 24 hour care. I went to the Eau Claire county Aging and Disability resource center they gave me a small Booklet of health care Providers etc. there was only one that provided 24/7 care and I contacted them they made a appointment with me came up looked the house over then went to the nursing home and meet with my mother me and the head nurse and therapist. They said they could help us me and my mother we decided to go with them They told us they would have a health care provider with in 2 weeks or less they did with in a week The one they provided took very good care of my mother My mother told me that we could not have found a better one I highly recommend you contact <span class='underline'>Good People</span> if you have a loved one that wants to stay in their own home and needs care to contact them. They are very nice and caring people as far as I know I was the first in my county to use them They will work with you to find somebody that is compatible with your life style. As for me a very special Thanks goes to Martin Fencl of <span class='underline'>Good People</span> for find such a nice care giver in Terri for my mother it was as if god had sent her an angel
	%p
		Osseo Wisconsin
		%br
		Foster Area Eau Claire County
	%p.signed-by Vernon Strauch

.testimonial
	%a{ id:3579 } &nbsp;
	.info
		%label Assignment location and dates:
		Whitewater, WI
		%br
		April 20, 2015 - January 18, 2016
		%br
	%p To whom it may concern,
	%p My father received extraordinary care from Good People, LLC, which enabled us to keep him in his home for 8 months.	His caregivers were energetic, compassionate and very professional.	They treated him with kindness at all times, and I never had to worry about his safety, or being alone in his home. Locating live-in caregivers is stressful, but each caregiver that came to be with Dad was exceptional, and I'm grateful that we found this agency.
	%p.signed-by Elizabeth Wakefield

.testimonial
	%a{ id:4008 } &nbsp;
	.info
		%label Assignment location and dates:
		Janesville, WI
		%br
		March 12 - December 16, 2015
		%br
	%p In April 2015 my mother Lorrine Hilton got really sick and was unable to stay alone and we were considering a nursing home.	She was really angry with us because the doctors stated she was able to come home because that was her decision.	I was unable to stay with her because I have medical issues as well so when we heard about Good People it was like a blessing.	I met with Martin and he explained the services the provided and he stated he would try to find someone for us as soon as possible.	He is a man of his word someone came just a day after she was released from the hospital.
	%p Teri was an angel she did everything mom asked of her and more and never complained.	My mother could be difficult at times and was not used to sharing her home with anyone for a very long time.	I would recommend Good People and Teri to anyone who is in search of someone to care for their loved ones because you can't find anyone better.
	%p.signed-by Sue Nanstad

.testimonial
	%a{ id:3775 } &nbsp;
	.info
		%label Assignment location and dates:
		Stoughton, WI
		%br
		March 10, 2014 - December 14, 2015
		%br
	%p I heard about Good People from a friend and it sounded too good to be true! I hoped that it would be a good fit for my aging parents who wanted to stay in their home, and, more importantly, stay together.
	%p We had 3 caregivers over 1 3/4 years, each of whom were wonderful, caring, conscientious, and trustworthy. We employed the first lady for 9 months, the second for 12 months, and the third for 2 months until my father passed away. I found each of these ladies eager to learn and take on the responsibility of caring for both my mother and my father. My mother declined and	passed away one year before my father, but with each change in circumstance, our caregiver was adaptable, learned what needed to be done to meet my parents' increasing needs, and cared for them as if they were their own parents.
	%p Each one cooked and cleaned, administered medications from a filled pill box, and as my mother's needs increased, helped her eat, walk, dress, get into bed, until she passed away. Then did the same with my father as his physical abilities decreased. My caregiver accompanied us to medical appointments, gave me regular updates, and sometimes shopped for groceries and household supplies when she was out of the house. And, yes, they do work 12 days in a row, with two days off, with a 2 hour break every other day. That was our set up.
	%p Each of my caregivers had approximately 10 years of experience caring for elderly people, which was very helpful, as they had already experienced some of the situations that my parents were facing, and provided knowledge and wisdom that were very helpful and reassuring to me.
	%p I am so grateful to each of my caregivers, they were like sisters to me. They enabled my parents to have the best life possible together, in their final years. I am so grateful they were able to stay in their own home, with their own surroundings. It would not have been possible without GoodPeople.
	%p I know the cost per day sounds expensive at first, but it is much cheaper than assisted living or a nursing home, and so much better.	I did hire a payroll accountant to help with taxes and withholding appropriate amounts, because the caregiver was my employee, not GoodPeople's employee, and I wanted to things right for my caregiver.	The accountant was very helpful, as that part was too much for me to learn, in addition to helping my parents and my other responsibilities.
	%p Through all of this, I was still very involved with my parents, seeing them almost every day. Having a live-in caregiver for them, however, allowed me to be a daughter to my parents, and also to continue to take care of my husband and four children.
	%p At the beginning, GoodPeople sounded too good to be true. But, for me and my family, it was all true, and all good.	There are many good people in this world. Martin has a way of finding the ones who want to work to help people in need. Thank you. Thank you. Thank you.
	%p.signed-by Barbara Roe

.testimonial
	%a{ id:3711 } &nbsp;
	.info
		%label Assignment location and dates:
		Waukesha, WI
		%br
		October 2013 - Present
		%br
	%p Martin,
	%p I want to thank you for all GoodPeople did for my Dad and Mom so they could stay in their home which is where they really want to be.	To have one person to care for 2 people versus a nursing home or assisted living where the ratio is normally 10 or 12 to one caregiver – you can’t imagine how happy this made our family.
	%p In June 2013, my mother was hospitalized for a week for pneumonia, among other issues.	The social worker at the hospital gave me excellent references for GoodPeople as a place to find a live in caregiver.
	%p You came to my parent’s home and assessed their needs. After a discussion with my parents, you were able to find and place the appropriate care-giver. Only because of Good People, my parents have been able to stay in her own home.
	%p I recommend GoodPeople to anyone looking for in home care for their loved ones. My parents can continue to be in their home.	Thank you for being a blessing to my parents	Keep up the good work!
	%p.signed-by Phyllis D.

.testimonial
	%a{ id:3945 } &nbsp;
	.info
		%label Assignment location and dates:
		Lake Mills, WI
		%br
		November 2 - December 28, 2014
		%br
	%p Happy New Year Martin and the Good People Program,
	%p When we needed fulltime care for my Aunt, Hospice Care recommended your program and we are so grateful for that and for your service. After several interviews, we found Good People to be financially reasonable, with qualified & experienced women, and expedient in meeting our dates and goals for my Aunt compared to our local nursing homes and other respite programs. Tonga immediately added components needed on my Aunt's breathing machine and fixed meals that were so healthy that my Aunt no longer needed insulin shots. Tonga put her own needs aside for several weeks while she got to know my Aunt, her routines and needs, and cooperated fully with the Hospice staff. While Tonga was visiting friends in Chicago during the Holidays, Inga was an excellent substitute competently handling my Aunt's final day and hours. We are thankful that there are agencies like yours to help families dealing with elderly relatives. We will recommend you Martin & Good People to our friends when they find themselves in a similar situation.
	%p.signed-by Blessings, Wendy Steve

.testimonial
	%a{ id:2210 } &nbsp;
	.info
		%label Assignment location and dates:
		Middleton, WI
		%br
		June 2010 - July 2014
		%br
	%p Hi Martin,
	%p This is a testimonial to you and Good People for the great service our family received in the care of my sister who suffered from Parkinson disease. This service kept her from institutional care which was our goal.
	%p We found Good People was always very responsive	and timely in meeting our care giver needs.
	%p Your company found us a wonderful live in care giver--our family considered her an angel. She was so kind, loving and helpful to my sister. This care giver certainly added a better quality of life for my sister.
	%p Good people was also helpful in finding a replacement care giver in allowing our regular care giver some time off.
	%p We enjoyed a great relationship with Good People and their services and our family would highly recommend them.
	%p.signed-by Regards, Jim Caldwell

.testimonial
	%a{ id:3852 } &nbsp;
	.info
		%label Assignment location and dates:
		Black River Falls, WI
		%br
		June 13 - June 28, 2014
		%br
	%p Our mother was hospitalized with end stage idiopathic pulmonary fibrosis in June. At that time we realized she would not be able to return to her home without a full time live in caregiver. Very few agencies are able to provide this service. I contacted "Good People" and Martin promptly returned my call. After several phone conversations and an extensive phone interview, Martin arranged to have	" Inga" at my mothers house within 4 days.
	%p Inga was the perfect match for our situation. She stepped right in and provided the care our mother needed from the first day. Inga was both personable and business like enough to do what needed to be done. Her knowledge of end of life issues and care was extensive. Inga made helpful suggestions and worked closely with hospice to provide the best supportive care.
	%p My mother, and my sisters and I were so grateful. Inga, in conjunction with Good People allowed our mother to pass at home. This would not have been possible without this service.
	%p Martin of Good People followed up after Inga's first day, first week and second week of service to make sure we were all a good match. Unfortunately, our mother passed 15 days after leaving the hospital. Martin always retuned our calls promptly and followed up right on schedule.
	%p We would highly recommend Good People and Inga
	%p.signed-by Mary L Wyss / Baraboo Wi

.testimonial
	.info
		%label Assignment location and dates:
		Lake Mills, WI
		%br
		May 6 - May 23, 2014
		%br
	%p When my mother’s brain tumor reached its final stages, we needed help for her, and Good People provided an amazing live-in caretaker who truly understood the steps Mom’s debilitating condition would take, and who was then able to proactively address each change, even as the changes came faster than most people would predict.	From the second “Alicia” came to Mom’s home, she inspired the trust and confidence of my mother and worked to keep Mom safe and content.	During our last meeting with the hospice nurse, the nurse complimented “Alicia” for her thoroughness and comprehensiveness, noting that she rarely meets a caretaker who has a list of needed supplies and equipment ready just hours after taking the job.	As Mom took her final breaths, “Alicia” was there to help tend to her, explaining each stage to us, her children, helping us in innumerable ways.	For that day alone I will always be grateful.
	%p When “Alicia” left directly following Mom’s death, we were amazed: the towels and sheets were all laundered and the medical supplies and paraphernalia were tucked away, further testimony to “Alicia’s” consummate professionalism.	I am further impressed with the professionalism of Good People in general.	The intake-interview was thorough, the match between the caretaker and my mother was well-thought out, and I received timely and consistent phone calls making sure that all was going well.
	%p I am forever grateful to Good People and to “Alicia.”	I recommend the service without hesitation.
	%p.signed-by Kris C. J.

.testimonial
	%a{ id:3767 } &nbsp;
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		January 21 - February 8, 2014
		%br
	%p Hi Raivi,
	%p I want to thank you so much for all GoodPeople did for my Dad to get him home where he really wanted to be.
	%p When I was looking for alternatives to nursing facility care for my Dad, I received references for GoodPeople from a home health social worker at a nearby hospital and from another company that does in home care. I was told that GoodPeople were so efficient, that they would be able to find a 24/7 in home caregiver very quickly. They were that efficient, and we had a caregiver within 5 days of inquiry. They performed the search and background checks and found us an excellent caregiver for Dad.
	%p I would recommend GoodPeople to anyone looking for in home care for their loved ones. My Dad was so happy to be home and he was extremely well cared for.	Thank you to Raivi and GoodPeople for all you did to make my Dad so happy at the end of his life.
	%p.signed-by
		Sandy Sweeney
		%br
		Daughter of Harry Chamberlain

.testimonial
	%a{ id:3743 } &nbsp;
	.info
		%label Assignment location and dates:
		Canton, IL
		%br
		January 13 - April 4, 2014
		%br
	%p Thank you very much to Martin, from Good People, for finding a live-in caregiver for my brother-in-law, who is bed ridden and partially paralyzed. Good People were very thorough in questioning us about Tony’s needs, and extremely caring about who to place with him. We were not disappointed! Tony’s caregiver, Chuk, was such a blessing to us, and made bringing him home the right decision. On the occasion that Chuk needed to take time off, Good People had a great sub available for us on short notice, making sure to assign someone who could handle the hoyer lift. We were very pleased with everything Good People did to help us make the dream of bringing Tony home a reality.
	%p Sincerely,
	%p.signed-by
		Laura Franciskovich
		%br
		Illinois

.testimonial
	%a{ id:3761 } &nbsp;
	.info
		%label Assignment location and dates:
		Clinton, WI
		%br
		August - December 2013
		%br
	%p Our caregiver was a Godsend to our family. In July 2013, it became apparent that my father (85 years of age) should not drive any longer. He lived in the country and this news was devastating. We wanted to keep him at home. Both my brother and I knew that we had to have someone to in the house to assure that his comfort, daily routine and safety were the key focuses. For a previous major illness, Daddy lived with me for 6 months, two states away from his home. This time, we knew that he should stay in Clinton. I now live 2500 miles away. Dad was mentally sharp but his body was starting to fail him. We knew of "Good People" staff working in our small community. Telephone contacts, visits from the specialist and then the caregiver alleviated any concerns.
	%p The cost of "Good People" services and staff were cheaper than a small one bedroom apartment in an adult living residence with only light housekeeping, meals and a nurse for scheduled medications and major health issues.
	%p "Chuck" was a great companion and was more than a caregiver. One example is that they watched and discussed murder mysteries and police shows predicting solutions just like an old married couple.
	%p Honestly, I could fill another page with kudos of all of our caregivers skills, kindness, hard work, and sincere compassion for Daddy at this stage of his life. "Chuck" demonstrated trustworthiness, and has an excellent work ethic. He maintained Daddy’s quality-of-life and dignity, until he passed in December 2013.
	%p.signed-by
		Barb Padbury
		%br
		Daughter

.testimonial
	.info
		%label Assignment location and dates:
		Janesville, WI
		%br
		April 10 - April 19, 2013
		%br
	%p I was in need of a caregiver on a short notice. I called Good People and they were able to get me a caregiver to move in the next day. My friend was near the end of her life. The caregiver was only with her for a very short period of time before she passed away but she was a great blessing to have help out. I am very thankful to Good People for the help that they were able to provide.
	%p.signed-by
		Sincerely,
		%br
		Anita Ball

.testimonial
	%a{ id:3555 } &nbsp;
	.info
		%label Assignment location and dates:
		Oconomowoc, WI
		%br
		March - October 2013
		%br
	%p My father was diagnosed with Alzheimer's when he was 63 years old. He did well on his own for several years until he had a small stroke and was hospitalized. After his stroke, the hospital was not going to let him out of the hospital unless he had full time care. I called several agencies and Martin at The Good People was the only agency that actually came to my dad's house to meet my dad and see what his needs were.
	%p Those with Alzheimer's can have great days and some very bad days. My father had many bad days at the beginning. Since my mom passed away years earlier, my dad was used to living on his own. When you take someone who is used to living on his own and add Alzheimer's to it, it can be very confusing and very scary to them.
	%p The first person Martin brought to care for my father did not work. My father kept thinking this person was trying to take over his house and my father was not going to get along with this person no matter how hard the caregiver tried. I called Martin and explained to him what was going on and this person was not going to work.
	%p We did this 3 more times until Martin found Bob. My father and Bob were the perfect match. Bob gave my father the independence my father still tried to keep but was always close by just in case he was needed. Bob became part of our family and not only did Bob love caring for my father but also loved playing with all my father's grand kids.
	%p Unfortunately my father passed away late last year. However, I am very grateful for the patience Martin showed my father and very grateful Martin brought Bob into our lives. My dad's wish was always to pass away at home and not in a nursing home. The Good People help me honor my father's wishes.
	%p.signed-by
		Katie Osborne
		%br
		daughter

.testimonial
	%a{ id:3369 } &nbsp;
	.info
		%label Assignment location and dates:
		Wausau, WI
		%br
		June 2012 - January 2014
		%br
	%p My wife has had dementia for about five years. At first I was able to hire a local agency who supplied a caregiver for eight hours a day. However, the dementia progressed and more than eighteen months ago it became necessary to have a caregiver in our home for twenty-four hours a day. Good People found us an incredibly wonderful, capable and caring person to live with us and care for my wife. Tunga is truly a marvelous person and she made it possible for my wife to be home this past year and a half. On occasion, Tunga needed to be away. Martin and Good People always found us substitute caregivers. They were all caring and capable. The need for a substitute occasionally arose suddenly and with short notice. Good People nevertheless was always up to the task of finding appropriate substitute caregivers. This allowed my wife’s care to continue smoothly without little, if any, disruption. I am truly grateful for their help and expertise.
	%p Dementia is a very difficult disease. I will always be grateful for the expertise and competence demonstrated by the caregivers located by Good People. They allowed us to keep my wife in her home.
	%p.signed-by
		Sincerely,
		%br
		Robert Kaupie MD

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		October 2011 - January 2013
		%br
	%p Over time, Good People provided three wonderful caregivers for our sister. All were hard-working, caring and conscientious. Their live-in service allowed our sister to stay in her own home. We are happy to recommend Good People as a reliable, responsive organization if you need help caring for a loved one.
	%p.signed-by
		Rita S. & Kathleen S.,
		%br
		sisters

.testimonial
	%a{ id:3099 } &nbsp;
	.info
		%label Assignment location and dates:
		Wind Lake, WI
		%br
		May 2011 - March 2013
		%br
	%p I would like to take this opportunity to highly recommend Good People if you're looking for a live-in caregiver for a loved one.
	%p My aunt was living by herself, but she became ill, and had to spend about 3 months in a nursing home.	We all realized that she would no longer be able to live by herself.	Good People was recommended by a family friend, and I called them.
	%p Martin came out to my aunt's house and assessed my aunt's needs. After a discussion with my aunt and me, he was able to place the appropriate care-giver.	The care-giver lived with my aunt for almost 3 years (until my aunt's death), and she became a part of the family. Martin had found the perfect match for my aunt!
	%p Only because of Good People, my aunt was able to stay in her own home.	If any one of my friends need a live-in caregiver, I would recommend Good People.	If any one of my family members need a live-in caregiver, I will call Martin at Good People myself.
	%p.signed-by
		Sincerely,
		%br
		John P.

.testimonial
	.info
		%label Assignment location and dates:
		Clinton, WI
		%br
		December 2010 - October 2013
		%br
	%p After suffering a heart attack and the death of a spouse of 68 years, our mother needed a caregiver and a companion in order for her to return home after rehabilitation at a local nursing home.
	%p Good People was called and Raivi Kisielis was at the nursing home within 24 hours to do a very thorough and professional intake interview.	For the next 3 years Raivi and the Good People organization would provide support, concern, professional expertise and caring companions for our mother.	This made it possible for Mom to stay home until her recent death.
	%p Mom was very active in her church and local community.	She loved to play cards, to get her hair done, and to go to the Senior Center.	Good People provided staff who could drive, speak understandable English, and who could engage with others in a cheerful and friendly manner, and who treated Mom with care and respect.
	%p Our family was always able to contact Good People if or when we had a question or concern....and best of all....Good People made it possible for us to honor Mom's wish that she be kept in her home until her death.
	%p Thank you,
	%p.signed-by
		Sincerely,
		%br
		Charlotte Heikkinen
		%br
		Clinton, WI

.testimonial
	.info
		%label Assignment location and dates:
		Minocqua, WI
		%br
		August 2010 - Present
		%br
	%p Three years ago my wife, who was driving a car anywhere she wanted to go, fell and broke her femur just below the hip. We had it fixed and put her into a rehab center. While there she started to slip into the early stages of dementia. To make a long story short, after many issues of low blood counts, blood clots, infections, we finally had all the surgical hardware removed. By then she had an infection in the bone and full blown alzheimer's. Before checking out of the hospital I asked the hospital if the knew where I could find a live in caregiver. She told me of a place in Madison called Good People. I contacted them and after about 100 questions Martin said he would see if he could find someone for me. A week later he called me with a candidate and we met in Madison for an interview. All went well and we departed. Another week later she said she wanted the job. I hired her but the only thing on my mind was, I'm going to have a stranger living in my house. I met her three days later and took her to my home. Two days later she was part of my family. On August 13th, 2013 she will be with us three years. Since then I know of two other caregivers Good People have placed up here, one of them on the same lake chain I live on and just as happy.
	%p Sincerely,
	%p.signed-by
		Jack W.
		%br
		Husband

.testimonial
	%a{ id:2898 } &nbsp;
	.info
		%label Assignment location and dates:
		Beaver Dam, WI
		%br
		August 2010 - August 2012
		%br
	%p What do you do when you live 1,500 miles away from your aging parents? That was the question my sister and I had to address when my father had a stroke at age 90. We spent a couple of years trying all the available alternatives – assisted living, nursing home care (as Dad’s situation got worse) – but nothing was truly satisfactory until we realized that the only way to provide our parents with the kind of care that they needed and deserved was to do so back in home they loved. Good People provided crucial support and assistance to us in that process. They understood what we were going through and what our parents needed. They do a wonderful job matching caregivers with families who need them, including the occasional need to make a change in a caregiver assignment. Because of their in-home caregivers, our parents were able to spend their final years in their own home and surrounded by people who loved them rather than in an impersonal institution.
	%p If I had it all to do over again, I would skip all of the institutional alternatives we tried and put a good in-home care plan in place when it became clear that some permanent form of assistance was going to be needed. Our experience taught us that although institutions may provide room and board, they never deliver real patient-focused care. This is true in spite some truly caring individuals who work in these organizations; it is a result of the fact that they are institutions and must therefore put the needs of the organization ahead of individual needs. In the six years that we managed our parents’ care prior to their deaths, I saw not a single exception to this principal.
	%p Another misconception that most people have regarding in-home care is that it is always the most expensive option available. While it is true that it can be more expensive than other alternatives – especially subsidized ones – in our case it turned out to be significantly less expensive to provide our parents with excellent in-home care than the institutional alternative had been. This was the case in spite of the fact that my father was very seriously incapacitated toward the end of his life and we needed the services of two caregivers rather than just one.
	%p We are both so very grateful that we found Good People and the loving caregivers they work with.
	%p.signed-by
		Jane Beule
		%br
		Daughter

.testimonial
	.info
		%label Assignment location and dates:
		Waukesha, WI
		%br
		September 2009 - Present
		%br
	%p Raivi Kisielis,
	%p I am sending this letter to express how grateful are family is to have found good help for my father and mother.
	%p My Dad ended up in the hospital in late September with a stroke. He was then transported to a nursing home where he was for 3 days and came down with pneumonia. Once again, he was taken by ambulance to the hospital. We new at this point there was no choice, except to have him come home, but I needed to get care for him and my mother.	I started to make several calls and came across "The Good People". I talked with Raivi who explained how there company works. He was so accommodating, that he met my mother & I at the hospital. We especially liked the idea of having one person as a caregiver. Many companies work in shifts of three, where different people would be coming and going.	We now have "Bob" who has been wonderful. He has become part of the family. I can't express how awesome he is in taking care of my parents. He is willing to help in any way he can. He bathes him, helps to feed him, administers medicines and shots, and works giving him exercises and physical therapy.	My father is a diabetic and incontinent, also has Alzheimer's, requiring alot of care. Bob sees to his every need. My mother is severely arthritic and in a wheelchair. Bob helps her with everyday chores including cooking and cleaning. They have a small poodle which Bob also takes care of-giving her baths and walking her. When Bob is gone every other week, we have another caregiver, Gan-Ochir, he is also excellent and thorough. He steps right in when Bob leaves and does all the same things. It is so nice to have the same people all the time, as my parents are 87 years old and it is hard for elderly to adjust to new people. I can not say enough about how happy we are knowing my parents are in good hands. The company lives up to it's name "The Good People".
	%p Sincerely,
	%p.signed-by
		Aimee Petrovsky,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		New Berlin, WI
		%br
		May 2009 - Present
		%br
	%p Last spring my father finished his rehab and I needed to get him back to his apartment. He needed 24 hour a day caregivers. I checked with a number of places and decided on Good People. I have been very pleased with their services and with the care they gave him. My father is very happy with the two caregivers that he has. The caregivers have been very kind and helpful. My father is much happier in his own apartment than he would be in a nursing home. Thanks to the Good People.
	%p.signed-by
		Pat Braun,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Plain, WI
		%br
		June 2009 - December 2012
		%br
	%p My mom has had caregivers arranged through GOOD PEOPLE for 3 years. She is 85 years old and needs assistance with dressing, personal needs, transporting, meal preparation, etc. The caregivers that we had were very able to take care of all of her needs. My mom lives in a very rural community and it was very difficult to find someone to live in with her, she started to fall and was not able to stay alone at night. Good People worked very closely with us and were able to provide us with someone within the week that we requested help. We worked with Martin Fencl and he was so helpful through the whole process.
	%p We have recommended the agency to many people, Good People has been very helpful through some difficult times.
	%p Sincerely,
	%p.signed-by
		Jan Sloan
		%br
		(daughter of Florence Schluter)

.testimonial
	.info
		%label Assignment location and dates:
		Brookfield, WI
		%br
		June 2008 - Present
		%br
	%p “My sisters and I are extremely happy with the caring, competent woman provided by Good People. We trust her completely with our 98-year-old mother, and she has become part of the family! The peace of mind and support we’ve been given during a stressful period has been invaluable. The response time when we’ve needed special help has been fast, and our problem solved quickly. I highly recommend Good People.”
	%p.signed-by
		Jake Ruby,
		%br
		son

.testimonial
	.info
		%label Assignment location and dates:
		Mazomanie, WI
		%br
		February 2008 - Present
		%br
	%p As my mothers health began to decline my family and I knew something had to be done, but weren't sure where to go from here.	We thought about assisted living or even a nursing home, but knew the best interest of my mom and for my dad was to stay in their own home.
	%p We researched many in home care agencies, and chosed Good People.	As you may know it is very hard decision to bring in a complete stranger into your parents home and feel you made the right decision. Good People was able to provide my mother with a very caring and loving caretaker.	All of our life's are very busy, working, our families, grandchildren, trying to juggle all of this taking care of elderly parents can be very hard.	Now with Good people, this makes life easier for all of us and we don't worry, knowing someone is there with them.
	%p.signed-by
		Shirley Haack,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		April 2007 - January 2013
		%br
	%p After my father died in January of 2007, we wanted to keep our mother in her own home, but she couldn't stay there alone. We found out about Good People through a friend who had used them also. We worked with Raivi who asked us what we were looking and talked with my mother about her needs. In a few days we were matched up with a woman who was perfect for my mom.
	%p My Mom had Parkinson, so providing medication at the appropriate time was important. and every woman we had was more than capable. Her care giver took care of cooking, shopping and cleaning. My mom was so happy to be able to stay in her own home until her recent passing. I never worried about my mom, each of the women we had became a part of our family and we still keep in touch.
	%p Good People was a godsend for us. If it weren't for their caring care givers my mother would had to go to assisted living where she wouldn't have gotten the great one on one care she did at home.
	%p.signed-by
		Deb Grambsch (daughter)
		%br
		Madison, WI

.testimonial
	.info
		%label Assignment location and dates:
		Madison, WI
		%br
		Nov 2007 - Present
		%br
	%p For 2 years, we have had an excellent caregiver arranged through GOOD PEOPLE. The young man easily adapted to the special needs of our 93 year-old father and has become an intregal part of our family support network.
	%p We have found the agency, GOOD PEOPLE, to be both reliable and responsive to our questions and needs.	They have consistently found competent caregiver substitutes whenever needed.	Moreover, they have responded promptly to our calls in a clear and professional manner.
	%p We have recommended this agency to many friends and acquaintances and will continue to do so in the future.
	%p.signed-by
		Barbara L.,
		%br
		daughter

.testimonial
	.info
		%label Assignment location and dates:
		Mt. Horeb, WI
		%br
		October 2005 - November 2008
		%br
	%p Dear Raivi,
	%p I just wanted to thank you for the wonderful care and attention Good People gave my Mother during the last three years of her life.I never told you at our initial meeting to have her cared for, but she was always very uncomfortable with people in her home. You can imagine how tough it was for her with strangers.	With that said, I must tell you how much my Mother loved the Good People who took such great care of her. As you know, I was living out of state and not able to be with Mom as much as I would have liked to be.	I called Mom every day to visit with her over the phone and was also able to talk to her care giver.	I always had a great line of open communication with her care giver. When I was home checking on Mom, I	could see what great care she was getting. My cousin Mary and my friend Pat Flom also had nothing but praises to tell me in regards to what good care she was given.	Cousin Mary loved to visit with the Good People	as much as she did with Mom.	They would call me each week with an update and all were given an A+.
	%p We can't thank you enough Raivi for supplying us with such good care takers and for saving us a lot of money. If you ever have someone that needs a recommendation, feel free for them to contact me.	I know what they are going through and we were so blessed having you I would like to ensure them they are on the right track.
	%p Thanks again,
	%p.signed-by
		Bruce E. Greve,
		%br
		son

.testimonial
	%a{ id:1212 } &nbsp;
	.info
		%label Assignment location and dates:
		Green Bay, WI
		%br
		July 2005 - Present
		%br
	%p Our family was in a crisis situation, when we found Good People. After an extensive interview, a caregiver moved into my parent’s home within a few days. When our first caregiver left, someone new was in their home that same day. Our current caregiver has been with my parents for over three years and has become a member of our family. Because of the wonderful help we received from Good People, my parents have been able to stay in their own home for their last years. They are happy, well cared for and safe. Good People have been a blessing to our family.
	%p Sincerely,
	%p.signed-by
		Jill Proulx,
		%br
		daughter
