%header.header--print-pg.flexrow
  = render partial: 'header_desktop', locals: { for_print: true }

%main.main--print-pg
  - @pages_for_print.each do |page|
    %h1.h1--print-pg= link_to page[:title], action: page[:action]
    = render partial: page[:action], locals: { for_print: true }
    %br
