// attemtping to straighten out semantics. WIP.
// https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b#.9pmcn86j0
// http://engineering.appfolio.com/2012/11/16/css-architecture/
// http://nicolasgallagher.com/about-html-semantics-front-end-architecture/

// ####################################################
// ############			CSS rules:		#####################
// ####################################################


// ####################################################
// GENERAL
// ####################################################
@mixin radius( $radius ) {
	border-radius:          $radius;
	-moz-border-radius:     $radius;
	-webkit-border-radius:  $radius;
	-khtml-border-radius:   $radius;
}
@mixin shadow( $x, $y, $width, $color ) {
	-moz-box-shadow:		$x $y $width $color;
	-webkit-box-shadow:	$x $y $width $color;
	box-shadow: 				$x $y $width $color;
}
// remove blue glowing outline around clicked imgs, ..:
* {	outline: 0; }
footer {
	@include breakpoint( small only ) { text-align: center; };
	color: #999999;
	font-size: 80%;
}
p.footer { padding-top: 60px; padding-bottom: 40px; }


// ####################################################
// INDEX PAGE
// ####################################################
.body--index, .footer--index { text-align: center; }
.footer--index { padding-top: 60px; padding-bottom: 40px; }
.logo--index { margin-top: 20px; }
.h1--index { margin-top: 50px; }
.link-to-enter {
  display: block;
	font-size: 1.4em;
	font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
	@include breakpoint( small only ) {
		font-size: 1.2em;
	};
}
.contact-info-wrapper--index {
  font-size: 1.4em;
  margin-bottom: 40px;
	@include breakpoint( small only ) { font-size: 1.2em; };
}
.contact-info {
  color: #333333;
  font-weight: bold;
	display: block;
	line-height: 1.7em;
}
// didn't find a better way; using specificity:
.orbit .orbit-container { height: auto !important; }
.orbit .orbit-previous { margin-left: 14px; }
.orbit .orbit-next { margin-right: 14px; }
.orbit .orbit-previous, .orbit .orbit-next,
.orbit .orbit-previous:hover, .orbit .orbit-next:hover,
.orbit .orbit-previous:focus, .orbit .orbit-next:focus,
.orbit .orbit-previous:active, .orbit .orbit-next:active  {
  background-color: #ffe;
  color: $anchor-color;
}
.orbit .orbit-previous:hover, .orbit .orbit-next:hover {
  color: $anchor-color-hover;
}
.testimonial-excerpt {
	background: #ffe;
	border: 1px solid #fed;
	border-radius: 3px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 1.3em;
  font-style: italic;
	margin: 8px;
	padding: 20px 60px 50px 60px;
	text-align: left;
	@include radius( 3px );
  @include shadow( 2px, 2px, 8px, #ccc );
  @include breakpoint( small only ) {
		font-size: 1em;
	};
}
.testimonial-excerpt p a { float: right; }


// ####################################################
// INTERIOR PAGES
// ####################################################
.desktop-header { height: 12em; }
.contact-info-wrap--desktop-header {
	margin-top: 3em;
	text-align: right;
}
// JS places .current dynamically, replaces CSS control of current menu item hihglight
.current {
	background-color: $light-gray; // make it beige, somewhere around EAD29D;
	@include radius( 3px );
}
.print-link { margin-top: 3em; }
.print-link a:link, .print-link a:visited {
	background: white image-url( 'print.gif' ) no-repeat 0 0.7em;
	color: #aaa;
 	margin: 0 auto 0 auto;
	padding: 6px 0 6px 22px;
	width: 9em; /* must be defined for margin centering to work */
}
.print-link a:hover {
	color: #ff9900;
	background-image: image-url( 'printHover.gif' );
}
.h1--interior { margin-bottom: 1em; }
.signature {
	margin-top: 18px;
	margin-left: 18px;
	display: inline-block;
}
.signature p {
	margin-top: 0;
  margin-left: 18px;
}
.help, acronym, abbr {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
	cursor: help;
}
.testimonial {
	margin-top: 40px;
	padding: 40px;
	border: 1px solid #fed;
	background: #ffe;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 1.1em;
	overflow: auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-box-shadow: 2px 2px 8px #ccc;
  -webkit-box-shadow: 2px 2px 8px #ccc;
  -khtml-box-shadow: 2px 2px 8px #ccc;
}
.testimonial p, .testimonial ul {
  margin: 8px 0;
  float: left;
  clear: both;
}
.testimonial ul {
	margin-top: 0;
	padding-left: 0.1em;
	li {
		margin-left: 1em;
	}
}
.testimonial .info {
  text-align: right;
  float: right;
  margin-bottom: 20px;
}
.testimonial label {
  font-size: 90%;
  display: block;
  margin-bottom: 4px;
}
.signed-by {
  text-align: left;
}
.underline {
	text-decoration: underline;
}
// adapted from entries around: https://stackoverflow.com/a/17047997/247626
a:not([href]) {
	margin-top: -5em;
	padding-top: 5em;
}

// ####################################################
// MOBILE
// ####################################################
.off-canvas { background: white; }
// tune up mobile menu shadow
.off-canvas.is-transition-push.is-open {
	@include shadow( 2px, 0, 15px, rgba( 50, 50, 50, 0.74 ) );
}
// tune up mobile menu shadow
.off-canvas.is-transition-push::after { box-shadow: none; }
.title-bar {
	background-color: white;
	padding-top: .7em;
	padding-bottom: .7em;
	@include shadow( 0, 2px, 15px, rgba( 50, 50, 50, .74 ) );
}
.sticky { width: 100%; } // req'd by Foundation
.sticky.is-anchored { position: fixed; } // hack fix of not so sticky .sticky
.title-bar-left { line-height: 2.4em; } // center the hamburger
.title-bar-right { font-size: .8em; }
// makes the .off-canvas-content lighter by default, make it darker instead
.js-off-canvas-overlay.is-visible { background: rgba(0, 0, 0, .3); } // rgba(254, 254, 254, 0.25);
.h1--interior { @include breakpoint( small only ) { font-size: 1.6em; }; }
main { @include breakpoint( small only ) { margin-top: 6em; }; }
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint( small only ) { #show-for-medium { display: none; } }
  @include breakpoint( medium ) { .title-bar { display: none; } }
}


// ####################################################
// PRINT
// ####################################################
#header {
	height: 180px;
	margin-right: 20px;
	clear: both;
}
#content {
	margin: 0 20px 0 0;
	font-size: 10pt;
  h1 {
  	color: #484848;
  	font-size: 130%;
  	text-align: center;
  	margin-top: 0px;
  }
  ul li {
  	list-style-image: image-url( 'ablbull1check.gif' );
  	margin-left: 0px;
  }
}
