@use 'colors' as c;



@media (prefers-color-scheme: dark) {

  // ###########################################################################
  // F6 settings (body) and overrides (a):
  // ---------------------------------------------------------------------------

  body {
    background: c.$body-background-dm;
    color: c.$body-font-color-dm;
  }

  a { color: c.$a-color-dm; }



  // ###########################################################################
  // TYPOGRAPHY
  // ---------------------------------------------------------------------------

  .li-testimonial-excerpt {
    background: c.$testimonial-background-dm;
    color: c.$testimonial-color-dm;
    border-color: c.$testimonial-border-color-dm;
    box-shadow: 2px 2px 8px c.$testimonial-shadow-color-dm;
  }

  .p-footer { color: c.$footer-color-dm; }



  // ###########################################################################
  // INTERACTIVE
  // ---------------------------------------------------------------------------

  .a-print-nav:link,
  .a-print-nav:visited {
    background-color: c.$a-print-nav-background-dm;
    color: c.$a-print-nav-color-dm;
  }

  .a-gp-contact-info { color: c.$a-gp-contact-info-color-dm; }

  .a-print-nav:hover {
    color: c.$a-print-nav-color-hover-dm;
  }

  // TODO: fix this; give the `a` class and move out of the `.li-..` selector
  .li-testimonial-excerpt {
    a { color: c.$a-testimonial-excerpt-color-dm; }
    a:hover { color: c.$a-testimonial-excerpt-color-hover-dm; }
  }

  .btn-cta-learn-more {
    background: c.$cta-background-dm;
    background-image: linear-gradient(
      to bottom right, c.$cta-gradient-start-dm, c.$cta-gradient-end-dm
    );
    border-color: c.$cta-border-color-dm;
    box-shadow: 0 0 0 3px c.$cta-outer-border-color-dm;
    color: c.$cta-color-dm;
  }

  .btn-cta-learn-more:hover {
    background: c.$cta-background-hover-dm;
    border-color: c.$cta-border-color-hover-dm;
    box-shadow:
      0 0 0 3px c.$cta-outer-border-color-hover-dm,
      3px 3px 9px 3px c.$cta-shadow-color-hover-dm;
    color: c.$cta-color-hover-dm;
  }

  // #TODO: fix this; give each a in the nav class
  nav.show-for-medium a:hover {
    color: #ffa216; // #f90;
    text-shadow: 2px 4px 6px #2d2d2d;
  }

  // JS at the bottom of application.html.haml
  .current {
    background-color: #4c5969; // #475361; // make it beige ~#EAD29D;
    box-shadow: 2px 4px 6px #353535;
  }

  .off-canvas-opener { border-color: #777; }

  .label-off-canvas-opener { color: #aaa; }

  .span-tooltip { border-bottom-color: c.$tooltip-span-underline-color-dm; }

  // >>> Foundation overrides and tweaks - Start -------------------------------

  .js-off-canvas-overlay.is-visible {
    background: c.$off-canvas-overlay-background-dm;
  }

  .menu-icon::after {
    background: #aaa;
    box-shadow: 0 7px 0 #aaa, 0 14px 0 #aaa;
  }

  .off-canvas.is-transition-push.is-open {
    box-shadow: 2px 0 15px c.$off-canvas-shadow-color-dm;
  }

  .off-canvas {
    background: c.$off-canvas-background-dm;

    .a-gp-contact-info { color: #ababab; }
  }

  .title-bar {
    background-color: c.$title-bar-background-color-dm;
    box-shadow: 0 2px 15px c.$title-bar-shadow-color-dm;

    .a-gp-contact-info { color: #bbb; }
  }

  // <<< Foundation overrides and tweaks - End ---------------------------------



  // ###########################################################################
  // LAYOUT
  // ---------------------------------------------------------------------------

  .article-testimonial {
    border-color: c.$testimonial-border-color-dm;
    background: c.$testimonial-background-dm;
    box-shadow: 2px 2px 8px c.$testimonial-shadow-color-dm;
  }



  // ###########################################################################
  // IMAGES
  // ---------------------------------------------------------------------------

  .svg--gp-logo-desktop,
  .svg--gp-logo-index-pg,
  .svg--gp-logo-off-canvas { filter: drop-shadow(2px 4px 6px black); }

  .g-svg--gp-logomark { fill: c.$gp-logo-logomark-color-dm; }

  .path-svg--gp-logomark-fill-stroke-width {
    stroke: c.$gp-logo-logomark-color-dm;
  }

  .g-svg--gp-logotype { fill: c.$gp-logo-logotype-color-dm; }

  .g-svg--gp-tagline { fill: c.$gp-logo-tagline-color-dm; }

  .path-svg--gp-tagline-ampresand {
    fill: c.$gp-logo-tagline-ampresand-color-dm;
  }

  .svg--gp-logo-desktop {
    .g-svg--gp-logomark { fill: #5d80cc; }

    .path-svg--gp-logomark-fill-stroke-width { stroke: #5d80cc; }

    .g-svg--gp-logotype { fill: #999999; }

    .g-svg--gp-tagline { fill: #969494; }

    .path-svg--gp-tagline-ampresand { fill: #cf4b44; } //#d04d46; }
  }

  .svg--gp-logo-off-canvas {
    .g-svg--gp-logomark { fill: #5d80cc; }

    .path-svg--gp-logomark-fill-stroke-width { stroke: #5d80cc; }
  }
}
