@use 'colors' as c;



@media (prefers-color-scheme: dark) {

  // ###########################################################################
  // F6 settings (body) and overrides (a):
  // ---------------------------------------------------------------------------

  body {
    background: c.$body-background-dm;
    color: c.$body-font-color-dm;
  }

  a { color: c.$a-color-dm; }



  // #############################################################################
  // TYPOGRAPHY
  // -----------------------------------------------------------------------------

  .label--testimonial { color: c.$testimonial-background-dm; }



  // ###########################################################################
  // INTERACTIVE
  // ---------------------------------------------------------------------------

  .a--full-testimonial { color: c.$cloud-gray-lighter; }

  .a--gp-contact-info {
    color: c.$cloud-gray; //c.$spanish-gray;
    // font-weight: normal;
  }

  .btn-cta-learn-more {
    background: c.$cta-green;
    background-image: linear-gradient(
      to bottom right, c.$cta-green-darker, #092a09
    );
    border-color: #d1d1d1;
    box-shadow: 0 0 0 3px c.$cta-green-darker;
    color: #d0cbcb;
  }

  .btn-cta-learn-more:hover {
    background: c.$cta-green-darker;
    border-color: #dbd7d7;
    box-shadow:
      0 0 0 3px c.$grass,
      3px 3px 9px 3px rgba(0, 0, 0, 0.3);
    color: #dbd7d7;
  }

  // #TODO: fix this; give each a in the nav class
  nav.show-for-medium a:hover {
    color: #ffa216; // #f90;
    text-shadow: 2px 4px 6px #2d2d2d;
  }

  // JS at the bottom of application.html.haml
  .current {
    background-color: #4c5969; // #475361;
    box-shadow: 2px 4px 6px #353535;
  }

  .off-canvas-opener { border-color: c.$cloud-gray-darker; }

  .label--off-canvas-opener { color: c.$cloud-gray; }

  .span--tooltip { border-bottom-color: c.$cloud-gray; }

  // >>> Foundation overrides and tweaks - Start -------------------------------

  // #TODO: figure out how to dim font color (modern CSS may allow this)
  .js-off-canvas-overlay.is-visible {
    background: rgba(35, 43, 53, 0.7);
    // background: rgba(55, 63, 73, 0.4); // rgb(55, 63, 73) = #373f49
    // background: rgba(0, 0, 0, 0.4);
  }

  .menu-icon::after {
    background: c.$cloud-gray-darker;
    box-shadow: 0 7px 0 c.$cloud-gray-darker, 0 14px 0 c.$cloud-gray-darker;
  }

  .off-canvas.is-transition-push.is-open {
    box-shadow: 10px 0 20px 6px rgba(35, 43, 53, 0.84);
    // box-shadow: 10px 0 20px 6px rgba(35, 35, 35, 0.74);
    // box-shadow: 2px 0 15px rgba(35, 35, 35, 0.74);
  }

  .off-canvas {
    background: c.$body-background-dm;

    .a--gp-contact-info { color: c.$cloud-gray; }
  }

  .title-bar {
    background-color: c.$body-background-dm;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.84);

    .a--gp-contact-info {
      color: c.$cloud-gray-lighter;
      // font-weight: normal;
    }
  }

  // <<< Foundation overrides and tweaks - End ---------------------------------



  // ###########################################################################
  // LAYOUT
  // ---------------------------------------------------------------------------

  .article--testimonial {
    background: c.$testimonial-background-dm;
    border-color: c.$testimonial-border-color-dm;
    box-shadow: 2px 2px 8px c.$testimonial-shadow-color-dm;
    color: c.$testimonial-color-dm;
  }



  // ###########################################################################
  // IMAGES
  // ---------------------------------------------------------------------------

  .svg--gp-logo-desktop,
  .svg--gp-logo-index-pg,
  .svg--gp-logo-off-canvas { filter: drop-shadow(2px 4px 6px black); }

  .g-svg--gp-logomark { fill: c.$gp-logomark-color-dm; }

  .path-svg--gp-logomark-fill-stroke-width {
    stroke: c.$gp-logomark-color-dm;
  }

  .g-svg--gp-logotype { fill: c.$gp-logotype-color-dm; }

  .g-svg--gp-tagline { fill: c.$gp-tagline-color-dm; }

  .path-svg--gp-tagline-ampresand {
    fill: c.$gp-ampresand-color-dm;
  }

  .svg--gp-logo-desktop {
    .g-svg--gp-logomark { fill: #5d80cc; }

    .path-svg--gp-logomark-fill-stroke-width { stroke: #5d80cc; }

    .g-svg--gp-logotype { fill: c.$dusty-gray; }

    .g-svg--gp-tagline { fill: #969494; }

    .path-svg--gp-tagline-ampresand { fill: #cf4b44; } //#d04d46; }
  }

  .svg--gp-logo-off-canvas {
    .g-svg--gp-logomark { fill: #5d80cc; }

    .path-svg--gp-logomark-fill-stroke-width { stroke: #5d80cc; }
  }

  .signature-mf { background-image: url('signature-mf-dm.png'); }

  .signature-jp { background-image: url('signature-jp-dm.png'); }

  .signature-rk { background-image: url('signature-rk-dm.png'); }
}
