.gridfield {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 75rem;
  margin: 0 auto;
}

.gridfield > * {
  padding: 0 0.625rem; // immitate Foundation's column default padding
}

.gridrow-index-pg { grid-column: 3 / span 8; }

.gridrow-logo-index-pg {
  grid-column: 2 / span 10;

  @media (min-width: 40rem) {
    grid-column: 3 / span 8;
    padding: 0 1rem; // imitate Foundation's logo size at this breakpoint
  }
}

.gridrow-testimonials-index-pg {
  grid-column: 1 / span 12;
  padding: 0 1.5rem;

  @media (min-width: 40rem) {
    grid-column: 3 / span 8;
    padding: unset;
  }

  @media (min-width: 64rem) {
    grid-column: 4 / span 6;
  }
}
