@use 'colors' as c;



// #############################################################################
// INTERACTIVE
// -----------------------------------------------------------------------------

nav a,
nav .a--gp-contact-info { line-height: 1; }

nav a {
  color: c.$a-color;
  display: block;
  padding: .7rem 1rem;
}

nav .a--gp-contact-info { color: c.$oil; }

nav a:hover { color: c.$a-color-hover; }

@media (prefers-color-scheme: dark) {
  nav a { color: c.$a-color-dm; }
}
