$charcoal: #484848;
$cta-green: #007b00;
$cta-green-darker: #1b7b1b;
$cloud-gray-lighter: #ababab;
$cloud-gray: #aaa;
$cloud-gray-darker: #8a8a8a;
$dusty-gray: #999;
$egyptian-blue: #173C8E; // gp logo house blue
$grass: #209620;
$inkblot: #373f49;
$monsoon: #777;
$oil: #333;
$mandarin: #ff9900;
$spanish-gray: #969696;
$steel: #666;



// #############################################################################
// F6 settings (body) & overrides (a) we set (in foundation_and_overrides.scss):
// ---------------------------------------------------------------------------

// $black: #0a0a0a; // F6
// $white: #fefefe; // F6

// $body-background: $white; // we use F6 default setting
$body-background-dm: $inkblot;

// $body-font-color: $black; // we use F6 default setting
$body-font-color-dm: white;

$a-color: $egyptian-blue;
$a-color-hover: $mandarin;

// $anchor-color: c.$a-color; // we override F6 setting
// $anchor-color-hover: c.$a-color-hover; we override // F6 setting

$a-color-dm: white;



// #############################################################################
// GP Logo
// ---------------------------------------------------------------------------

$gp-logomark-color: $egyptian-blue;
$gp-logomark-color-dm: #516fb1;

$gp-logotype-color: #231f20;
$gp-logotype-color-dm: $spanish-gray;

$gp-tagline-color: #5a5b5e;
$gp-tagline-color-dm: #8b8b8b;

$gp-ampresand-color: #ef3d33;
$gp-ampresand-color-dm: #c04943;



// #############################################################################
// GP Testimonials
// ---------------------------------------------------------------------------

$testimonial-background: #ffe;
$testimonial-background-dm: #39383b;

$testimonial-border-color: #fed;
$testimonial-border-color-dm: #804f05;

$testimonial-shadow-color: #ccc;
$testimonial-shadow-color-dm: #2C2B4C;

$testimonial-color-dm: #f4e7e2;
