$creamy-shell: #fed;
$charcoal: #484848;
$dusty-gray: #999;
$grass: #209620;
$mid-gray: #aaa;
$platinum: #e6e6e6;
$mayo: #ffe;
$monsoon: #777;
$oil: #333;
$mandarin: #f90;
$sapphire: #06c;
$silver: #ccc;
$steel: #666;

$a-color: $sapphire;
$a-color-hover: $mandarin;

$testimonial-background: $mayo;
$testimonial-border-color: $creamy-shell;
$testimonial-shadow-color: $silver;

$footer-color: #999;

$tooltip-span-underline-color: $oil;

$a-print-nav-background: white;
$a-print-nav-color: $mid-gray;
$a-print-nav-color-hover: $mandarin;

$a-gp-contact-info-color: $oil;

$cta-background: #007b00;
$cta-background-hover: $grass;
$cta-gradient-start: $cta-background-hover;
$cta-gradient-end: #0a5d0a;
$cta-border-color: white;
$cta-color: white;
$cta-outer-border-color: #007b00;
$cta-outer-border-color-hover: #209620;
$cta-shadow-color-hover: rgba(0, 0, 0, 0.18);
$cta-color: white;

$nav-current-background: $platinum; // make it beige ~#EAD29D;

$label-off-canvas-opener-color: $steel;
$off-canvas-opener-border-color: $monsoon;
$off-canvas-overlay-background: rgba(0, 0, 0, 0.3);
$off-canvas-shadow-color: rgba(50, 50, 50, 0.74);
$off-canvas-background: white;

$title-bar-background-color: white;
$title-bar-shadow-color: rgba(50, 50, 50, 0.74);

$h1-color: $charcoal;
