@charset 'utf-8';

@use "settings_overrides" as overrides;
@use "foundation-sites/scss/foundation" as foundation with (
    $global-width: overrides.$global-width,
    $header-styles: overrides.$header-styles,
    $anchor-color: overrides.$anchor-color,
    $anchor-color-hover: overrides.$anchor-color-hover
);

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @import "motion-ui/motion-ui";

// We include everything by default.  To slim your CSS, remove components you don't use.

@include foundation.foundation-global-styles;
@include foundation.foundation-typography;
@include foundation.foundation-menu;
@include foundation.foundation-menu-icon;
@include foundation.foundation-responsive-embed;
@include foundation.foundation-off-canvas;
@include foundation.foundation-visibility-classes;

// @include foundation.foundation-close-button;
// @include foundation.foundation-orbit;
// @include foundation.foundation-sticky;
// @include foundation.foundation-title-bar;
// @include foundation.foundation-top-bar;
// @include foundation.foundation-grid;
// @include foundation.foundation-float-classes;
// @include foundation-xy-grid-classes;
// @include foundation-flex-grid;
// @include foundation-flex-classes;
// @include foundation-forms;
// @include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-tooltip;

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @include motion-ui-transitions;
// @include motion-ui-animations;
