= link_to root_path do
  = render 'svg_gp_logo_logomark'
%button.button--nav-close{ type: 'button', data: { action: "nav-mobile#close" } }
  = render 'svg_nav_burger' # [𝝣] animates into [x], once per session
